/* -------------------------------------
Responsive  - format iphone5
---------------------------------------------------- */
@media only screen and (min-width : 310px) and (max-width : 345px) {
    .hexagone h1 {
        margin-top: 150px;
        width: 70%;
        margin-left: 12.5%;
        top: -140px;
    }
    .hexagone img {
        width: 280px;
        height: 325px;
        top: -135px;
        left: 7%;
    }
    .hexagone .fleche_index {
        top: 247px;
        left: 40%;
    }

    .tete_classement .haut_classement { width: 155px; }

    #slider {
        margin-left: 25%;
        width: 155px;}
    .choix img { margin-left: 20%; }
    .tete_classement .equipe_classement {
        width: 300px;
        left: -20px;
    }
    #navigation-slider > li:nth-child(2) > button > img {  left: 260px;  }
}

@media only screen and (min-width : 345px) and (max-width : 420px) {
    .hexagone img {
        width: 280px;
        height: 325px;
        top: -135px;
        left: 13%;
    }
    .hexagone .fleche_index {
        top: 247px;
        left: 41%;
    }

    #slider {  margin-left: 10%;  }
    .tete_classement .equipe_classement {
        width: 370px;
        left: -40px;
    }
    #navigation-slider li button img {left: 10px; }
    #navigation-slider > li:nth-child(2) > button > img { left: 326px;  }


}


/* -------------------------------------
Responsive  - format intermediaire (tablette/mobile)
---------------------------------------------------- */

@media only screen and (min-width : 479px) and (max-width : 717px) {
    #logo h3 { left: 100px; }
    header #menu-deroulant {  width: 55%;  }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 14%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 11%;
    }

    .formulaire > form input, button {  width: 90%;  }
    .formulaire button {  width: 94%;  }
    select {  width: 94%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file { right: 16.5%;  }

    .progress .point { right: 43%; }
    .supperpose_titre { left: 40%;  }
    .affiche_equipe img { margin-top: 50px; }

    #categorie { width: 96%; }
    .depot_desc {
        width: 90.5%;
        margin-left: 3px;
    }
    .depot_file { right: 12.20%; }

    /* accueil */
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    iframe {
        width: 100%;
        height: 325px;
    }

    .choix img { margin-left: 32.5%; }
    .commencer a {
        width: 60%;
        left: 17%;
    }
    .button_inscription {
        width: 50%;
        left: 14%;
    }

    .fond_logo {
        width: 40%;
        margin-top: -220px;
        right: 75px;
    }

    .programme {
        padding-left: 5%;
        padding-right: 5%;
    }
    .program img {
        width: 200px;
        height: 230px;
        margin-top: 10px;
        margin-left: 33%;
    }

    /*classement */
    .depot .supperpose_titre_depot { left: 42%; }
    .equipe_classement {
        margin-bottom: 10px;
    }

    /* equipe */
    .bandeau .modif { left: 75%; }
    .modif {  left: 32%;  }
    .piece {  left: 80%;  }

    .membre-carre {
        width: 80px;
        height: 200px;
        margin-left: 70px;
    }
    .membre-carre img {  width: 110px;  }
    .carre-fond {
        left: 25px;
        top: -80px;
    }
    .membre-carre p {  top: -90px; left: 25%; }
    .jaune, .bleu {
        position: relative;
        margin-left: -19%;
        width: 65%;
        padding-left: 27%;
        padding-right: 27%;
    }

    .formulaire .button-equipe {  width: 85%;  }
    .titre_equipe .formulaire {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 12%;
    }

    /* galerie */
    .bandeau-ligne-bleu { height: 15px; }
    .supperpose_titre_galerie { left: 50%; }
    .span-galerie { left: 47%; }
    .photo {
        width: 175px;
        height: 175px;
    }



}

/* --------------------------
Responsive  - format tablette
----------------------------- */

@media only screen and (min-width : 718px) and (max-width : 1024px) {
    #logo h3 { left: 100px; }
    header #menu-deroulant {  width: 45%;  }
    #header-bois { width: 102%; }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 12%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 15%;
    }

    .formulaire > form input, button {  width: 90%;  }
    .formulaire button {  width: 94%;  }
    select {  width: 94%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file { right: 17%;  }

    .progress .point { right: 42%; }

    .supperpose_titre { left: 45%;  }

    .affiche_equipe img { margin-top: 60px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 94%; }
    .depot_desc {
        width: 90.5%;
        margin-left: 3px;
    }
    .depot_file { right: 12.5%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 580px;  }
    iframe {
        width: 100%;
        height: 450px;
    }

    .choix img { margin-left: 24%; }
    .commencer .joueurs img { margin-left: 22%; }
    .commencer { display: flex; }
    .commencer a {
        width: 60%;
        left: 17%;
    }
    .button_inscription {
        width: 45%;
        left: 18%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }

    .fond_logo {
        width: 35%;
        margin-top: -280px;
        right: 100px;
    }

    .programme {
        padding-left: 10%;
        padding-right: 10%;
    }
    .program img {
        width: 210px;
        height: 240px;
        margin-top: 10px;
        margin-left: 38%;
    }

    /*classement*/
    .depot .supperpose_titre_depot { left: 45%; }
    .equipe_classement {
        margin-bottom: 15px;
    }

    /*equipe*/
    .bandeau .modif { left: 82%; }
    .modif {  left: 37%;  }
    .piece {  left: 82%; width: 15%; }

    .membre-carre {
        width: 100px;
        height: 220px;
        margin-left: 70px;
    }
    .membre-carre img {  width: 120px;  }
    .carre-fond {
        left: 25px;
        top: -100px;
    }
    .membre-carre p {  top: -100px; left: 25%; }
    .jaune, .bleu {
        position: relative;
        margin-left: -12.5%;
    }

    .formulaire .button-equipe {  width: 50%; margin-left: 33%; }
    .titre_equipe .formulaire {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 12%;
    }

    /* galerie */
    #header-galerie {  background-size: 50%;  }
    .bandeau-ligne-bleu { height: 15px; }
    .span-galerie { left: 48%; }
    .photo {
        width: 200px;
        height: 200px;
    }



}

/* ----------------------------------------------------
Responsive  - format intermediaire (tablette/ecran)
---------------------------------------------------- */

@media only screen and (min-width : 1024px) and (max-width : 1300px) {
    #logo h3 { left: 110px; }
    header #menu-deroulant {  width: 35%;  }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 10%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 17%;
    }

    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }

    .display_none_lg {  display: none;  }
    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    .progress .point { right: 41.8%; }
    .supperpose_titre { left: 47%;  }
    .affiche_equipe img { margin-top: 70px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 92%; }
    .depot_desc {
        width: 90%;
        margin-left: 5px;
    }
    .depot_file { right: 13%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 850px;  }
    iframe {
        width: 100%;
        height: 525px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 30%; }
    .commencer { display: flex; }
    .commencer a {
        width: 60%;
        left: 17%;
    }
    .button_inscription {
        width: 40%;
        left: 19.5%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
    .equipe_classement { width: 90%; }

    .fond_logo {
        width: 30%;
        margin-top: -280px;
        right: 180px;
    }

    .programme {
        padding-left: 15%;
        padding-right: 15%;
    }
    .program img {
        width: 220px;
        height: 250px;
        margin-top: 10px;
        margin-left: 38%;
    }

    /*classement*/
    .depot .supperpose_titre_depot { left: 47%; }
    .equipe_classement {
        margin-bottom: 20px;
        margin-left: 3%;
    }

    /*equipe*/
    .bandeau .modif { left: 40%; }
    .modif {  left: 16%;  }
    .piece {  left: 85%; width: 15%; }

    .membre-carre {
        width: 180px;
        height: 240px;
        margin-left: 70px;
    }
    .membre-carre img {  width: 140px;  }
    .carre-fond {
        left: 35px;
        top: -115px;
    }
    .membre-carre p {  top: -110px;  }
    .jaune, .bleu {
        position: relative;
        margin-left: -6%;
    }

    .formulaire .button-equipe {  width: 40%; left: -10%; }
    .titre_equipe .formulaire {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 12%;
    }

    /* galerie */
    #header-galerie {  background-size: 35%;  }
    .bandeau-ligne-bleu { height: 15px; }
    .span-galerie { left: 48%; }
    .modif2 { margin-left: 0; }
    .photo {
        width: 225px;
        height: 225px;
    }

    /* modal */
    .modal .affichage_photo {
        width: 36%;
        margin-left: 6%;
    }
    .modal .modal-com {
        margin-left: 40%;
        position: absolute;
        top: 80px;
    }
    .modal .affichage_photo {
        width: 36%;
        margin-left: 6%;
        margin-bottom: 170px;
    }
    .avion img {
        position: absolute;
        bottom: 29px;
        left: 77%;
    }
    .avion:hover {
        background: none;
        margin: 0;
        margin-top: -20px;
        margin-left: 30px;
    }
}

/* ----------------------------------------------------
Responsive  - format ecran
---------------------------------------------------- */

@media only screen and (min-width : 1300px) and (max-width : 1500px) {
    #logo h3 { left: 110px; }
    header #menu-deroulant {  width: 30%;  }

    .icone_accueil.active .menu { right: 5.5%; }
    .icone_accueil.active .tchat { right: 9%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 19%;
    }

    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }

    .display_none_lg {  display: none;  }
    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    .progress .point { right: 41.5%; }
    .supperpose_titre { left: 47%;  }
    .affiche_equipe img { margin-top: 80px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 92%; }
    .depot_desc {
        width: 90%;
        margin-left: 5px;
    }
    .depot_file { right: 13.2%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 1135px;  }
    iframe {
        width: 100%;
        height: 550px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 34%; }
    .commencer .voyeurs img { margin-left: 34%; }
    .commencer { display: flex; }
    .commencer a {
        width: 60%;
        left: 17%;
    }
    .button_inscription {
        width: 35%;
        left: 22%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
    .equipe_classement { width: 90%; }

    .fond_logo {
        width: 25%;
        margin-top: -300px;
        right: 200px;
    }

    .programme {
        padding-left: 20%;
        padding-right: 20%;
    }
    .program img {
        width: 220px;
        height: 250px;
        margin-top: 10px;
        margin-left: 35%;
    }

    /*classement*/
    .depot .supperpose_titre_depot { left: 46%; }
    .equipe_classement {
        margin-bottom: 25px;
        margin-left: 3%;
    }

    /*equipe*/
    .bandeau .modif { left: 43%; }
    .modif {  left: 16%;  }
    .piece {  left: 85%; width: 15%; }

    .membre-carre {
        width: 225px;
        height: 270px;
        margin-left: 70px;
    }
    .membre-carre img {  width: 160px;  }
    .carre-fond {
        left: 45px;
        top: -125px;
    }
    .membre-carre p {  top: -120px;  }
    .jaune, .bleu {
        position: relative;
        margin-left: -3%;
    }

    .formulaire .button-equipe {  width: 39%; }
    .titre_equipe .formulaire {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 12%;
    }

    .titre-pc {
        position: absolute;
        color: #15232A;
        font-size: 4em;
        padding: 15px;
        padding-top: 30px;
        top: 89px;
        left: 2%;
        background-color: white;
        display: block;
    }
    .bandeau .flechenoir {
        display: block;
        left: 47%;
        top: 600px;
    }

    /* galerie */
    #header-galerie {  background-size: 25%;  }
    .bandeau-ligne-bleu { height: 15px; }
    .span-galerie { left: 49%; }
    .modif2 { margin-left: 0; }
    .photo {
        width: 250px;
        height: 250px;
    }

    /* modal */
    .modal .affichage_photo {
        width: 36%;
        margin-left: 6%;
    }
    .modal .modal-com {
        margin-left: 40%;
        position: absolute;
        top: 90px;
    }
    .modal .affichage_photo {
        width: 36%;
        margin-left: 6%;
        margin-bottom: 55px;
    }
    .avion img {
        position: absolute;
        bottom: 29px;
        left: 77%;
    }
    .avion:hover {
        background: none;
        margin: 0;
        margin-top: -20px;
        margin-left: 30px;
    }
}

/* ----------------------------------------------------
Responsive  - format +ecran
---------------------------------------------------- */

@media only screen and (min-width : 1500px) and (max-width : 2000px) {
    #logo h3 {  left: 110px;  }
    header #menu-deroulant {  width: 30%;  }
    .icone_accueil.active .menu {  right: 5.5%;  }
    .icone_accueil.active .tchat {  right: 8%;  }
    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 18%;
    }

    .progress .point {  right: 41.3%;  }
    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }

    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }
    .display_none_lg {  display: none;  }

    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 {  margin-top: 390px;  }
    #slider {  width: 1275px;  }

    iframe {
        width: 100%;
        height: 650px;
    }

    .choix img {  margin-left: 40%;  }
    .commencer .joueurs img {  margin-left: 36%;  }
    .commencer .voyeurs img {  margin-left: 36%;  }
    .commencer {  display: flex;  }
    .commencer a {
        width: 60%;
        left: 17%;
    }
    .button_inscription {
        width: 30%;
        left: 24%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs {
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
    .equipe_classement {  width: 90%;  }

    .fond_logo {
        width: 25%;
        margin-top: -300px;
        right: 200px;
    }
    .programme {
        padding-left: 20%;
        padding-right: 20%;
    }
    .program img {
        width: 220px;
        height: 250px;
        margin-top: 10px;
        margin-left: 38%;
    }

    /*classement*/
    .depot .supperpose_titre_depot {  left: 47%;  }
    .equipe_classement {
        margin-bottom: 30px;
        margin-left: 3%;
    }

    /*equipe*/
    .bandeau .modif {  left: 43%;  }
    .modif {
        left: 16%;
    }
    .piece {
        left: 85%;
        width: 15%;
    }

    .membre-carre {
        width: 300px;
        height: 270px;
    }
    .membre-carre img {  width: 160px;  }
    .carre-fond {
        left: 45px;
        top: -125px;
    }
    .membre-carre p {  top: -120px;  }
    .jaune, .bleu {  padding-left: 5%;  }

    .formulaire .button-equipe {  width: 39%; }
    .titre_equipe .formulaire {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 12%;
    }

    .titre-pc {
        position: absolute;
        color: #15232A;
        font-size: 4em;
        padding: 15px;
        padding-top: 30px;
        top: 89px;
        left: 2%;
        background-color: white;
        display: block;
    }
    .bandeau .flechenoir {
        display: block;
        left: 47%;
        top: 640px;
    }
    .affiche_equipe:nth-child(3) { margin-top: 170px; }

    /* galerie */
    #header-galerie {  background-size: 25%;  }
    .bandeau-ligne-bleu { height: 15px; }
    .span-galerie { left: 50%; }
    .modif2 { margin-left: 0; }
    .photo {
        width: 250px;
        height: 250px;
    }

    /* modal */
    .modal .affichage_photo {
        width: 36%;
        margin-left: 6%;
    }
    .modal .modal-com {
        margin-left: 40%;
        position: absolute;
        top: 110px;
    }
    .avion img {
        position: absolute;
        bottom: 29px;
        left: 77%;
    }
    .avion:hover {
        background: none;
        margin: 0;
        margin-top: -20px;
        margin-left: 30px;
    }

}


/* intermédiaire - hexagone déplacement */
@media only screen and (min-width : 480px) and (max-width : 530px) {
    .hexagone img {
        width: 377px;
        height: 425px;
        top: -185px;
        left: 10.5%;
    }
    .hexagone .fleche_index {  left: 41.5%;  }

    #slider { margin-left: 20%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 404px;  }
}
@media only screen and (min-width : 530px) and (max-width : 616px) {
    .hexagone img {
        width: 377px;
        height: 425px;
        top: -185px;
        left: 15.5%;
    }
    .hexagone .fleche_index {  left: 43.5%;  }

    #slider { margin-left: 24%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 480px;  }
}
@media only screen and (min-width : 617px) and (max-width : 717px) {
    .hexagone img {
        width: 395px;
        height: 439px;
        top: -197px;
        left: 18%;
    }
    .hexagone .fleche_index {  left: 45%;  }

    #slider { margin-left: 28%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 555px;  }
}
@media only screen and (min-width : 717px) and (max-width : 835px) {
    .hexagone img {
        width: 405px;
        height: 449px;
        top: -205px;
        left: 24%;
    }
    .hexagone .fleche_index {  left: 47%;  }

    #slider { margin-left: 12%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 700px;  }
}
@media only screen and (min-width : 835px) and (max-width : 900px) {
    .hexagone img {
        width: 405px;
        height: 449px;
        top: -210px;
        left: 25%;
    }
    .hexagone .fleche_index {  left: 45.5%;  }

    #slider { margin-left: 16%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 750px;  }
}
@media only screen and (min-width : 901px) and (max-width : 1024px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 26%;
    }
    .hexagone .fleche_index {  left: 45.5%;  }

    #slider { margin-left: 20%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 860px;  }
}
@media only screen and (min-width : 1024px) and (max-width : 1150px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 30%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 10%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 977px;  }
}
@media only screen and (min-width : 1150px) and (max-width : 1300px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 32%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 15%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1100px;  }
}
@media only screen and (min-width : 1300px) and (max-width : 1500px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 35%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 8%; }
    #navigation-slider li button img { left: 35px;  }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1270px;  }
}
@media only screen and (min-width : 1500px) and (max-width : 2000px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 35%;
    }
    #navigation-slider li button img { left: 35px;  }
    .hexagone .fleche_index {  left: 47.5%;  }

    #slider { margin-left: 8%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1435px;  }
}

/* titre liste ééquipe */
@media only screen and (min-width : 395px) and (max-width : 2000px) {
    .encheres .titre {  top: 105px;  }
    .encheres #equipe-span {  top: 77px;  }
}