/* -------------------------------------
Responsive  - format intermediaire (tablette/mobile)
---------------------------------------------------- */

@media only screen and (min-width : 479px) and (max-width : 717px) {

    #logo h3 { left: 100px; }
    header #menu-deroulant {  width: 55%;  }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 14%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 11%;
    }

    .formulaire > form input, button {  width: 90%;  }
    .formulaire button {  width: 94%;  }
    select {  width: 94%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file { right: 16.5%;  }

    .progress .point { right: 43%; }

    .supperpose_titre { left: 40%;  }

    .affiche_equipe img { margin-top: 50px; }

    #categorie { width: 96%; }
    .depot_desc {
        width: 90.5%;
        margin-left: 3px;
    }
    .depot_file { right: 12%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    iframe {
        width: 100%;
        height: 325px;
    }

    .choix img { margin-left: 35%; }
    .commencer a, .button_inscription {
        width: 60%;
        left: 17%;
    }

}

/* --------------------------
Responsive  - format tablette
----------------------------- */

@media only screen and (min-width : 718px) and (max-width : 1024px) {

    #logo h3 { left: 100px; }
    header #menu-deroulant {  width: 45%;  }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 12%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 15%;
    }

    .formulaire > form input, button {  width: 90%;  }
    .formulaire button {  width: 94%;  }
    select {  width: 94%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file { right: 17%;  }

    .progress .point { right: 42%; }

    .supperpose_titre { left: 45%;  }

    .affiche_equipe img { margin-top: 60px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 94%; }
    .depot_desc {
        width: 90.5%;
        margin-left: 3px;
    }
    .depot_file { right: 12.5%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 580px;  }
    iframe {
        width: 100%;
        height: 450px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 30%; }
    .commencer { display: flex; }
    .commencer a, .button_inscription {
        width: 60%;
        left: 17%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }

}

/* ----------------------------------------------------
Responsive  - format intermediaire (tablette/ecran)
---------------------------------------------------- */

@media only screen and (min-width : 1024px) and (max-width : 1300px) {

    #logo h3 { left: 110px; }
    header #menu-deroulant {  width: 35%;  }

    .icone_accueil.active .menu { right: 6%; }
    .icone_accueil.active .tchat { right: 10%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 17%;
    }

    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }

    .display_none_lg {  display: none;  }
    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    .progress .point { right: 41.8%; }

    .supperpose_titre { left: 47%;  }

    .affiche_equipe img { margin-top: 70px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 92%; }
    .depot_desc {
        width: 90%;
        margin-left: 5px;
    }
    .depot_file { right: 13%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 850px;  }
    iframe {
        width: 100%;
        height: 525px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 30%; }
    .commencer { display: flex; }
    .commencer a, .button_inscription {
        width: 60%;
        left: 17%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
}


/* ----------------------------------------------------
Responsive  - format ecran
---------------------------------------------------- */

@media only screen and (min-width : 1300px) and (max-width : 1500px) {

    #logo h3 { left: 110px; }
    header #menu-deroulant {  width: 30%;  }

    .icone_accueil.active .menu { right: 5.5%; }
    .icone_accueil.active .tchat { right: 9%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 19%;
    }

    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }

    .display_none_lg {  display: none;  }
    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    .progress .point { right: 41.5%; }

    .supperpose_titre { left: 47%;  }

    .affiche_equipe img { margin-top: 80px; }

    .supperpose_titre_depot { left: 50%; }
    #categorie { width: 92%; }
    .depot_desc {
        width: 90%;
        margin-left: 5px;
    }
    .depot_file { right: 13.2%; }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 1135px;  }
    iframe {
        width: 100%;
        height: 550px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 30%; }
    .commencer { display: flex; }
    .commencer a, .button_inscription {
        width: 60%;
        left: 17%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
}

/* ----------------------------------------------------
Responsive  - format +ecran
---------------------------------------------------- */

@media only screen and (min-width : 1500px) and (max-width : 2000px) {

    #logo h3 {  left: 110px;  }
    header #menu-deroulant {  width: 30%;  }

    .icone_accueil.active .menu { right: 5.5%; }
    .icone_accueil.active .tchat { right: 8%; }

    #menu-deroulant .pseudo_li img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-right: 18%;
    }

    .formulaire > form input, button {  width: 90%;  }
    button {
        width: 50%;
        margin-left: 43%;
    }
    select {  width: 93%;  }
    .formulaire .lien_form {
        display: flex;
        justify-content: center;
    }
    .file {  right: 17.65%;  }

    .display_none_lg {  display: none;  }
    .partenaires .iut_small_size {
        width: 130px;
        display: block;
        padding: 17px 15% 0;
    }

    /* accueil*/
    .hexagone h1 {
        left: 40%;
        top: 221px;
    }
    .avancement h1 { margin-top: 350px; }

    #slider { width: 1275px;  }
    iframe {
        width: 100%;
        height: 650px;
    }

    .choix img { margin-left: 40%; }
    .commencer .joueurs img { margin-left: 30%; }
    .commencer { display: flex; }
    .commencer a, .button_inscription {
        width: 60%;
        left: 17%;
    }
    .commencer h1 {
        position: absolute;
        text-align: center;
        margin-left: 0;
    }
    .commencer .voyeurs{
        width: 50%;
        margin-top: 80px;
        margin-right: 5%;
    }
    .commencer .ligne-separation {
        display: block;
        width: 1%;
        height: 430px;
        margin-top: 71px;
    }
    .commencer .joueurs {
        width: 50%;
        margin-top: 80px;
        margin-left: 5%;
    }
}




/* intermédiaire - hexagone déplacement */
@media only screen and (min-width : 480px) and (max-width : 530px) {
    .hexagone img {
        width: 377px;
        height: 425px;
        top: -185px;
        left: 10.5%;
    }
    .hexagone .fleche_index {  left: 41.5%;  }

    #slider { margin-left: 20%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 404px;  }
}
@media only screen and (min-width : 530px) and (max-width : 616px) {
    .hexagone img {
        width: 377px;
        height: 425px;
        top: -185px;
        left: 15.5%;
    }
    .hexagone .fleche_index {  left: 43.5%;  }

    #slider { margin-left: 25%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 480px;  }
}
@media only screen and (min-width : 617px) and (max-width : 717px) {
    .hexagone img {
        width: 395px;
        height: 439px;
        top: -197px;
        left: 18%;
    }
    .hexagone .fleche_index {  left: 45%;  }

    #slider { margin-left: 30%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 555px;  }
}
@media only screen and (min-width : 717px) and (max-width : 835px) {
    .hexagone img {
        width: 405px;
        height: 449px;
        top: -205px;
        left: 24%;
    }
    .hexagone .fleche_index {  left: 46.5%;  }

    #slider { margin-left: 12%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 690px;  }
}
@media only screen and (min-width : 835px) and (max-width : 900px) {
    .hexagone img {
        width: 405px;
        height: 449px;
        top: -210px;
        left: 25%;
    }
    .hexagone .fleche_index {  left: 45.5%;  }

    #slider { margin-left: 16%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 750px;  }
}
@media only screen and (min-width : 901px) and (max-width : 1024px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 26%;
    }
    .hexagone .fleche_index {  left: 45.5%;  }

    #slider { margin-left: 20%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 860px;  }
}
@media only screen and (min-width : 1024px) and (max-width : 1150px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 30%;
    }
    .hexagone .fleche_index {  left: 47%;  }

    #slider { margin-left: 10%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1000px;  }
}
@media only screen and (min-width : 1150px) and (max-width : 1300px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 33%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 15%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1100px;  }
}
@media only screen and (min-width : 1300px) and (max-width : 1500px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 35%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 8%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1270px;  }
}
@media only screen and (min-width : 1500px) and (max-width : 2000px) {
    .hexagone img {
        width: 450px;
        height: 500px;
        top: -240px;
        left: 35%;
    }
    .hexagone .fleche_index {  left: 48%;  }

    #slider { margin-left: 8%; }
    #navigation-slider > li:nth-child(2) > button > img {  left: 1435px;  }
}