{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Admin{% endblock %}
{% block contenu %}

    <h3>* Champ obligatoire</h3>

    <div>
        <h1>Ajout des défis</h1>
        <form method="post"  action="" enctype="multipart/form-data">
            <input type="text" name="titre" placeholder="Titre*" required><br>
            <input type="password" name="defi" placeholder="Intituler du défi*" required><br>
            <input type="file" name="icon" placeholder="Icon" required><br>
            <button type="submit" name="valider" data-style="shrink" class="progress-button" data-horizontal>Valider</button>
        </form>
    </div>

    <div>
        <h1>Ajout d'équipe</h1>
        <form method="post"  action="" enctype="multipart/form-data">
            <input type="text" name="nom" placeholder="Nom d'équipe*" required><br>
            <input type="text" name="description" placeholder="Description" required><br>
            <input type="text" name="membre1" placeholder="Membre1*" required><br>
            <input type="text" name="membre2" placeholder="Membre2*" required><br>
            <input type="text" name="membre3" placeholder="Membre3*" required><br>
            <input type="text" name="membre4" placeholder="Membre4*" required><br>
            <input type="text" name="membre5" placeholder="Membre5" required><br>
            <input type="text" name="membre6" placeholder="Membre6" required><br>
            <input type="text" name="membre1" placeholder="Membre7" required><br>
            <input type="text" name="membre1" placeholder="Membre8" required><br>
            <button type="submit" name="valider" data-style="shrink" class="progress-button" data-horizontal>Valider</button>
        </form>
    </div>

    <div>
        <h1>Membres de la vente au enchère</h1>
        <form method="post"  action="" enctype="multipart/form-data">
            <input type="text" name="prenom" placeholder="Prénom*" required><br>
            <input type="text" name="nom" placeholder="Nom*" required><br>
            <input type="text" name="desc" placeholder="Description*" required><br>
            <input type="file" name="photo" placeholder="Photo du profil*" required><br>
            <button type="submit" name="valider" data-style="shrink" class="progress-button" data-horizontal>Valider</button>
        </form>
    </div>








{% endblock %}

{% block script %}

{% endblock %}