{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Classement{% endblock %}
{% block contenu %}

    <div id="header-bois" class="bandeau bandeau-bois">
        <div class="depot">
            <h1 class="titre_depot">Classement</h1>
            <span class="supperpose_titre_depot">Classement</span>
        </div>
        <img class="ligne_jaune_depot" src="css/images-interface/ligne_jaune.png" alt="ligne">
    </div>

    <div class="classement">

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>1</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>2</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>3</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>4</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>5</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>6</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>7</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>8</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>

        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">
                <h2>9</h2>
            </div>
            <h2>Nom de l'équipe</h2>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}

