{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Défis{% endblock %}
{% block contenu %}

    <div class="titre_equipe defi">
        <h1 class="defi-titre">Défis</h1>
        <span class="defi-span">Défis</span>
    </div>

    <img class="defi-90degre" src="css/images-interface/defi_avenir/defi-90degre.png" alt="défis">

    <div class="les_defis">

        <div>
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11,195.41s-55-54.83,116.09-34.5c202,24,126-68,126-68"/>
                </g>
            </svg>
        </div>

        <div class="div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" src="css/images-interface/marqueur.png" alt="marqueur">

                <div class="annonce-defi">
                    <h3>Titre du défi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.12 196.12">
                <g class="ligne-defis">
                    <path d="M11.15.56S-47.95,87.9,119.08,59.89c198.82-33.33,131.1,36.68,131.1,36.68"/>
                </g>
            </svg>
        </div>

        <div class="msg_fin div2">
            <div class="point-texte">
                <img data-toggle="modal" data-target="#myModal" style="order:2;" src="css/images-interface/marqueur.png" alt="marqueur">
                <div class="annonce-defi inverse">
                    <p id="fin-defis">Rendez vos travaux et retrouvons nous au Mont Bart</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="machine_ecrire">
                    <a class="close" data-dismiss="modal">
                        <img class="croix" src="css/images-interface/croix.png" alt="croix">
                    </a>
                    <div class="feuille">
                        <h2>Titre du défis</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <img class="machine" src="images-contenu/machine_a_ecrire.png" alt="machine_a_ecrire">

                </div>
            </div>

        </div>
    </div>

{% endblock %}