{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Enchère{% endblock %}
{% block contenu %}

    <div id="header-bois" class="bandeau bandeau-bois">
        <div class="encheres">
            <h1 class="titre">Ventes aux enchères</h1>
            <span class="supperpose_titre">Ventes aux enchères</span>
        </div>
        <img class="ligne_bleu_enchere" src="css/images-interface/ligne_bleu.png" alt="ligne">

    </div>

    <p class="desc intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>

    <div class="ancien">
        <div class="profil">
            <div class="photo-ancien">
                <img src="images-contenu/membre.png" alt="photo">
                <img class="cadre_enchere" src="css/images-interface/losange.png" alt="cadre">
            </div>

            <div class="description">
                <h2>Prénom Nom</h2>
                <h3>Type de métier</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="profil">
            <div class="photo-ancien">
                <img src="images-contenu/membre.png" alt="photo">
                <img class="cadre_enchere" src="css/images-interface/losange.png" alt="cadre">
            </div>

            <div class="description">
                <h2>Prénom Nom</h2>
                <h3>Type de métier</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="profil">
            <div class="photo-ancien">
                <img src="images-contenu/membre.png" alt="photo">
                <img class="cadre_enchere" src="css/images-interface/losange.png" alt="cadre">
            </div>

            <div class="description">
                <h2>Prénom Nom</h2>
                <h3>Type de métier</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}