{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Équipes{% endblock %}
{% block contenu %}

    <div class="bandeau">
        <button type="submit" name="modifier" class="modif" data-style="shrink" data-horizontal>Modifier</button>
        <img class="bandeau" src="images-contenu/equipe.png" alt="equipe">
        <img class="ligne" src="css/images-interface/ligne_bleu.png" alt="ligne">
    </div>

    <div class="titre_equipe">
        <span>Nom de l'équipe</span>

        <h1>Nom de l'équipe</h1>

        <button type="submit" name="modifier" class="modif" data-style="shrink" data-horizontal>
            <a href="index.php?page=modif-equipe">Modifier</a>
        </button>

        <h2>Description</h2>

        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <h2>Membres</h2>

        <div class="page-modif">
            <div class="piece">
                <img src="css/images-interface/piece.png" alt="pièce">
                <p>300</p>
            </div>
        </div>

    </div>

    <div class="jaune">
        <div class="membre-carre colone1">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_bleu.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_bleu.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre colone1">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_bleu.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_bleu.png" alt="carre">

            <p>Pseudo</p>
        </div>
    </div>

    <div class="bleu">
        <div class="membre-carre colone1">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_jaune.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_jaune.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre colone1">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_jaune.png" alt="carre">

            <p>Pseudo</p>
        </div>

        <div class="membre-carre">
            <img class="membre" src="images-contenu/membre.png" alt="membre">
            <img class="carre-fond" src="css/images-interface/equipe/carre_jaune.png" alt="carre">

            <p>Pseudo</p>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}