<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les 50 Heures | Erreur404</title>
    <link rel="shortcut icon" href="css/images-interface/logo_head.png">
    <link rel="stylesheet" href="css/typographie.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" language="Javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="Javascript" src="js/menu.js"></script>
</head>

<body style="background-color:#15232A">

<div class="erreur">
    <div class="content_erreur">
        <img src="css/images-interface/point_erreur404.png" alt="point">
        <img src="css/images-interface/point_erreur404.png" alt="point">
        <img src="css/images-interface/point_erreur404.png" alt="point">

        <p class="texte_erreur404">Je suis désolée mais tu t’es trompé de chemin cette page n’existe pas ou n’existe
            plus. </p>

        <a class="retour404" href="index.php?page=connexion.html">Retourner sur la page d’accueil</a>
    </div>
</div>

</body>
</html>