<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Les 50 heures{% endblock %}</title>
    <link rel="shortcut icon" href="css/images-interface/logo_head.png">
    <link rel="stylesheet" href="css/typographie.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Menu -->
    <script type="text/javascript" language="Javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="Javascript" src="js/menu.js"></script>

    <!-- Bootstrap - Modal -->
    <link rel="stylesheet" href="css/bootstrap-3.2.0-dist/css/bootstrap.css">
    <script src="css/bootstrap-3.2.0-dist/js/jquery-1.10.2.js"></script>
    <script src="css/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
</head>

<body>
<header>
    <nav>
        <div id="icone">
            <div id="logo">
                <a href="index.php?page=accueil"><img class="logo_accueil" src="css/images-interface/logo.png" alt="logo"></a>
                <h3>Les 50 heures</h3>
            </div>
            {% if session.admin >= 0 %}
            <div id="icon" class="icone_accueil">
                <a href="https://discord.gg/mwXBKQc">
                    <img class="tchat" src="css/images-interface/tchat.png" alt="tchat">
                </a>
                {% endif %}
                <div class="show-menu">
                    <img class="menu croix-menu unvisible" src="css/images-interface/croix.png" alt="croix">
                    <img id="menu" class="menu" src="css/images-interface/menu.png" alt="menu"><br>
                    <span id="span-menu">Menu</span>
                </div>
            </div>
        </div>

        <input type="checkbox" id="show-menu"/>

        <ul id="menu-deroulant">
            <li class="pseudo_li">
                <h1>Pseudo</h1>
                <img src="css/images-interface/off.png" alt="off">
            </li>
            <li><a href="index.php?page=accueil">Accueil</a></li>
            <li><a href="index.php?page=defis">Défis</a></li>
            <li><a href="index.php?page=classement">Classement</a></li>
            <li class="has_submenu">
                <a href="#">Équipes</a>
                <ul class="submenu">
                    {% if session.admin >= 0 %}
                    <li><a href="index.php?page=equipe">Mon équipe</a></li>
                    <li><a href="index.php?page=liste-equipe">Liste des équipes</a></li>
                    {% endif %}
                </ul>
            </li>
            <li><a href="index.php?page=galerie">Galerie</a></li>
            <li class="has_submenu">
                <a href="#">Les projets</a>
                <ul class="submenu">
                    <li><a href="index.php?page=liste-projet">Projets déposer</a></li>
                    <li><a href="index.php?page=depot">Dépot</a></li>
                </ul>
            </li>
            {% if session.admin >= 0 %}
            <li><a href="index.php?page=enchere">Ventes aux enchères</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block contenu %}
contenu de la page
{% endblock %}

<footer>
    <div class="rsx">
        <a href="https://www.facebook.com/mmimontbeliard/?hc_ref=SEARCH&fref=nf">
            <img src="css/images-interface/reseaux/fb.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/mmi_montbeliard/">
            <img src="css/images-interface/reseaux/insta.png" alt="instagram">
        </a>
        <a href="https://www.linkedin.com/company/src-media">
            <img src="css/images-interface/reseaux/linkedin.png" alt="linkedin">
        </a>
        <a href="https://twitter.com/mmimontbeliard">
            <img src="css/images-interface/reseaux/twitter.png" alt="twitter">
        </a>
        <a href="http://fr.viadeo.com/fr/company/mmi-montbeliard-ex-src-media">
            <img src="css/images-interface/reseaux/viadeo.png" alt="viadeo">
        </a>
        <a href="https://www.youtube.com/channel/UCgW7jR8McJwjxPh0fDQaXGg">
            <img src="css/images-interface/reseaux/youtube.png" alt="youtube">
        </a>
    </div>
</footer>

{% block script %}
les scripts
{% endblock %}

<!-- chargement de jQuery library -->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="jquery.cookie.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript">

    $(document).ready(function() {
        if($.cookie('the_cookie') != 1) { // Si the_cookie n'a pas pour valeur 1 alors on l'initialise et on joue l'appel de la popup
            $.cookie('the_cookie', '1', { expires: 1 }); // valeur en jour(s) avant expiration du cookie

            $.fancybox(
                    $("#defi").html(),
                    {
                        type : 'iframe',
                        href : 'mapage.html', // url vers notre page html qui sera chargée dans la popup en mode iframe
                        maxWidth : 800,
                        maxHeight : 600,
                        fitToView : false,
                        width : '70%',
                        height : '70%',
                        autoSize : false

                    }
            );setTimeout("parent.$.fancybox.close()", 5000); // temps en milliseconde avant fermeture de la popup
        }
    });
</script>  -->

<div id="myModal defi" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="machine_ecrire">
                <a class="close" data-dismiss="modal">
                    <img class="croix" src="css/images-interface/croix.png" alt="croix">
                </a>
                <div class="feuille">
                    <h2>Titre du défis</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <img class="machine" src="images-contenu/machine_a_ecrire.png" alt="machine_a_ecrire">

            </div>
        </div>

    </div>
</div>

</body>
</html>