{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Accueil{% endblock %}
{% block contenu %}

    <div class="hexagone">
        <h1>Makes Me Incridibly</h1>
        <img src="css/images-interface/hexagone.png" alt="hexagone">
        <a href="#debut_index"><img class="fleche_index" src="css/images-interface/index_fleche.png" alt="fleche">
        </a>
    </div>

    <div id="debut_index" class="avancement">
        <h1>Avancement des défis</h1>
        <ul id="navigation-slider">
            <li>
                <button class="navigation-slider-precedent">
                    <img src="css/images-interface/fleche1.png" alt="fleche">
                </button>
            </li>
            <li>
                <button class="navigation-slider-suivant">
                    <img src="css/images-interface/fleche2.png" alt="fleche">
                </button>
            </li>
        </ul>
        <div id="slider">
            <ul id="defi_avancer" class="contenu">
                <li id="slide1" class="slide premier">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>Terminer</h3>
                    <p class="nb">1</p>
                </li>
                <li id="slide2" class="slide deuxieme">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>En cours</h3>
                    <p class="nb">2</p>
                </li>
                <li id="slide3" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">3</p>
                </li>
                <li id="slide4" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">4</p>
                </li>
                <li id="slide5" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">5</p>
                </li>
                <li id="slide6" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">6</p>
                </li>
                <li id="slide7" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">7</p>
                </li>
                <li id="slide8" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">8</p>
                </li>
                <li id="slide9" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">9</p>
                </li>
                <li id="slide10" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">10</p>
                </li>
                <li id="slide11" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>Terminer</h3>
                    <p class="nb">11</p>
                </li>
                <li id="slide12" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>En cours</h3>
                    <p class="nb">12</p>
                </li>
                <li id="slide13" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">13</p>
                </li>
                <li id="slide14" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">14</p>
                </li>
                <li id="slide15" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">15</p>
                </li>
                <li id="slide16" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">16</p>
                </li>
                <li id="slide17" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">17</p>
                </li>
                <li id="slide18" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">18</p>
                </li>
                <li id="slide19" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">19</p>
                </li>
                <li id="slide20" class="slide">
                    <img src="css/images-interface/defi_avenir/point.png" alt="point d'intérogation">
                    <h3>À venir</h3>
                    <p class="nb">20</p>
                </li>
            </ul>
        </div>

    </div>

    <div class="desc_index">
        <h2>Les 50 heures c'est quoi ?</h2>

        <iframe src="https://www.youtube.com/embed/X3JDaPEKFEQ" allowfullscreen></iframe>

        <p>À partir du 13 janvier prochain, retrouvez nous au département pour les 50 heures. Le meilleur moment pour se
            retrouver et échanger tout en s'amusant.
            Les 50 heures, c'est le mix parfait entre la mythique soirée des anciens et le fameux défi ! Un moment de
            partage
            autour de multiples défis tant
            physiques que techniques, orchestré autour d'une soirée pizza et ponctué par la soirée des Anciens.</p>
    </div>


    <div class="commencer">
        <h1>Le défi 50 heures a enfin commencer !</h1>
        <div class="choix voyeurs">
            <img src="css/images-interface/voyeurs.png" alt="voyeurs">
            <h3>Voyeurs</h3>
            <p>Vous voulez voir l’avancement des équipes dans le défis ? C’est ici !</p>
            <a href="index.php?page=classement">Accèder au classement</a>
        </div>
        <img class="ligne-separation" src="css/images-interface/separation_index.png" alt="sépartation">
        <svg id="david" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 309.29 407.91">
            <g>
                <path class="cls-1"
                      d="M202.82,374.73s-8.78,1.75-21.11,3.82c-27,4.53-70.9,10.63-77.35,3.45-17.05-19,75.43-14.35,77.35-1v22S28.23,426,66.9,364c0,0,13.29-25,78.55-29l48.09.21Z"/>
                <path class="cls-1"
                      d="M158.82,373.73s9.29,1.75,22.34,3.82c28.53,4.53,75,10.63,81.86,3.45,18-19-79.83-14.35-81.86-1v22s162.44,23,121.51-39c0,0-14.07-25-83.14-29l-50.9.21Z"/>
                <polygon class="cls-2" points="146.66 184.64 211.86 184.05 201.88 197.81 153.5 199 146.66 184.64"/>
                <g id="Coup">
                    <path class="cls-3"
                          d="M207.6,164h-55c3.4,8.83,4.46,26.67-4,32.34,4.69,10.29,18.17,22.06,31.25,24.66,13.05-2.62,27.16-14.38,31.83-24.66C203.25,190.66,204.2,172.82,207.6,164Z"/>
                </g>
                <path id="Ombre" class="cls-4"
                      d="M153,175.19s27.92,25.3,54.31,16.87c0,0-3.53-11.76-2.16-15.29C205.11,176.77,178.66,192.09,153,175.19Z"/>
                <path class="cls-3"
                      d="M252.82,80.39c0,48-31.25,104.61-73.5,104.61s-71.5-57.59-71.5-105.64S137.07,11,179.32,11,252.82,32.34,252.82,80.39Z"/>
                <path class="cls-5" d="M179.32,11c42.25,0,73.5,21.34,73.5,69.39S221.57,185,179.32,185"/>
                <path class="cls-3" d="M118.32,72.43c-14.48,0-24.5,6.72-24.5,22.62s10,35,24.5,35"/>
                <path class="cls-4"
                      d="M107.82,89.5a16.32,16.32,0,0,0-2.65,8.06,21.25,21.25,0,0,0,1.28,8.28,32.78,32.78,0,0,0,1.58,4c.63,1.28,1.34,2.54,2,3.81s1.5,2.48,2.31,3.7,1.67,2.41,2.45,3.68c-1.11-1-2.16-2-3.22-3.08s-1.92-2.28-2.85-3.45c-.46-.59-.83-1.25-1.24-1.88s-.82-1.26-1.17-1.93a30.85,30.85,0,0,1-1.79-4.18,24,24,0,0,1-1-4.47l-.11-2.31c.05-.77.11-1.54.21-2.3A13,13,0,0,1,107.82,89.5Z"/>
                <path class="cls-5" d="M242.82,130c14.48,0,24.5-19.05,24.5-35s-10-22.62-24.5-22.62"/>
                <path class="cls-4"
                      d="M253.32,89.5a13,13,0,0,1,4.2,7.89c.1.76.16,1.53.21,2.3l-.11,2.31a24,24,0,0,1-1,4.47,30.85,30.85,0,0,1-1.79,4.18c-.35.67-.78,1.29-1.17,1.93s-.78,1.29-1.24,1.88c-.93,1.17-1.84,2.36-2.85,3.45s-2.11,2.1-3.22,3.08c.78-1.28,1.62-2.48,2.45-3.68s1.52-2.49,2.31-3.7,1.39-2.53,2-3.81a32.78,32.78,0,0,0,1.58-4A21.25,21.25,0,0,0,256,97.56,16.32,16.32,0,0,0,253.32,89.5Z"/>
                <path class="cls-4"
                      d="M171.22,127.05a29.64,29.64,0,0,0,4.31,3.17,10.16,10.16,0,0,0,4.63,1.5,8.19,8.19,0,0,0,4.56-1.33,27.83,27.83,0,0,0,4.16-3.33,11.73,11.73,0,0,1-3.24,4.59,8.08,8.08,0,0,1-5.55,2.07,9.24,9.24,0,0,1-5.45-2.22A12.08,12.08,0,0,1,171.22,127.05Z"/>
                <path class="cls-6" d="M159,143h42.83s-5.95,19-21.41,19S159,143,159,143Z"/>
                <rect class="cls-7" x="163.82" y="143" width="34" height="3"/>
                <path class="cls-8" d="M165.64,154.69s8.18-4.69,14.18-4.69l-.5,12S170.46,162.38,165.64,154.69Z"/>
                <path class="cls-9" d="M179.17,162s10.65,1,15.65-7.31c0,0-8.76-4.69-15.18-4.69"/>
                <path class="cls-7"
                      d="M217.38,81.18c-12.77,0-27.8,8.6-27.8,20.23s15.3,19.68,28.07,19.68,18.17-8.05,18.17-19.68S230.15,81.18,217.38,81.18Z"/>
                <ellipse class="cls-10" cx="205.01" cy="102.98" rx="3.91" ry="5.86"/>
                <ellipse class="cls-7" cx="208.02" cy="103.73" rx="1.8" ry="2.1"/>
                <path class="cls-7"
                      d="M145.76,81.18c12.77,0,27.8,8.6,27.8,20.23s-15.3,19.68-28.07,19.68-18.17-8.05-18.17-19.68S133,81.18,145.76,81.18Z"/>
                <ellipse class="cls-10" cx="156" cy="102.98" rx="3.91" ry="5.86"/>
                <ellipse class="cls-7" cx="159.01" cy="103.43" rx="1.8" ry="2.1"/>
                <path class="cls-11"
                      d="M179.82,220l32.32-23.87s23.15-1.94,37.36,9.07,40,37.5,42.32,44.8c7,21.61,17,69-13,86l-12-17s5.59-44.82,5-54-34.75-42.13-38.3-37.55-17.76,103.67-17.76,103.67l-38.47.61Z"/>
                <path class="cls-12" d="M234.82,78s-21-12-37,3"/>
                <path class="cls-12" d="M131.82,78s21-12,37,3"/>
                <path class="cls-11" d="M233.82,227c-3.5,4.74-2.19,109-2.19,109l-52.81.21,1.58-115.78,32.46-24.23"/>
                <path class="cls-11" d="M127.82,227c3.54,4.72,2,109,2,109H183l-2.42-115.76-32.64-24"/>
                <polygon class="cls-13" points="179.82 219.27 146.66 184.64 139.36 204.77 179.82 219.27"/>
                <polygon class="cls-13" points="179.86 219.37 211.86 184.05 218.09 205.21 179.86 219.37"/>
                <polygon class="cls-14" points="159.82 212 178.82 242 198.82 212 179.94 219.32 159.82 212"/>
                <ellipse class="cls-11" cx="179.88" cy="221.55" rx="1.8" ry="1.75"/>
                <ellipse class="cls-7" cx="180.34" cy="221.03" rx="0.27" ry="0.26"/>
                <ellipse class="cls-7" cx="179.41" cy="221.03" rx="0.27" ry="0.26"
                         transform="translate(-13.37 11.56) rotate(-3.56)"/>
                <ellipse class="cls-7" cx="180.34" cy="221.89" rx="0.27" ry="0.26"/>
                <ellipse class="cls-7" cx="179.41" cy="221.89" rx="0.27" ry="0.26"
                         transform="translate(-13.42 11.56) rotate(-3.56)"/>
                <ellipse class="cls-11" cx="180.08" cy="226.57" rx="1.8" ry="1.75"/>
                <ellipse class="cls-7" cx="180.54" cy="226.05" rx="0.27" ry="0.26"/>
                <ellipse class="cls-7" cx="179.61" cy="226.05" rx="0.27" ry="0.26"
                         transform="translate(-13.68 11.58) rotate(-3.56)"/>
                <ellipse class="cls-7" cx="180.54" cy="226.91" rx="0.27" ry="0.26"/>
                <ellipse class="cls-7" cx="179.61" cy="226.91" rx="0.27" ry="0.26"
                         transform="translate(-13.73 11.58) rotate(-3.56)"/>
                <path class="cls-15"
                      d="M179.32,40.5c61,0,67,42,68,49s-5,12-5,12c1,2,1.5,24,1.5,24,12.5-28,16.91-80-15.13-100.41C212.82,15,208.82,13,179.82,11Z"/>
                <path class="cls-16"
                      d="M180.32,40.5c-61.51,0-67.56,42-68.57,49s5,12,5,12c-1,2-1.51,24-1.51,24-12.6-28-17-80,15.26-100.41C146.54,15,150.58,13,179.82,11Z"/>
                <path class="cls-5" d="M286.82,319"/>
                <path id="Lunette" class="cls-17"
                      d="M149.33,79c2.09,0,14.42.57,20.69,5.27,1.08.39,2.24,4.9,3.37,4.68h17.39c1.29.16,2.59-4.43,3.81-4.92,10.18-6.32,21.14-4.45,31.91-3.26,7,.78,12.94,6.06,19.91,7.16,3.29.53,6.73-1.4,7.07,2.15a6,6,0,0,1-4.36,6.6,7.73,7.73,0,0,0-5,7.85c-.17,3.69-.25,7.4-.7,11.05-1.18,9.64-6,14.3-15,16.6-5.21,1.38-10.59.7-15.93.15-12.79-1.56-19.12-7-21.56-22.24-.44-2.73-.65-4.41-1.16-7.1-.83-4.58-4.94-7.57-9.19-6.68a8.15,8.15,0,0,0-6.16,6.5c-.72,3.3-1,4.5-1.6,7.82-3.81,19.59-14,23.34-31.09,21.46-15.43-1.72-23.72-6.7-23.57-23.35,0-5.8-3.68-9.52-9.81-11.84-1.72-1.24-1.69-4.46-1.6-6.68.58-2.27,8.27-1.9,10.31-2.74,5.71-1.39,9.1-5.36,14.85-6.31S147.22,79,149.33,79Zm-.63,6.64a60.17,60.17,0,0,0-10.66,1c-9.51,2.05-13.74,7.44-14,17.53,0,2.05.44,1.77.46,3.76,0,16.2,18.95,21.77,32.17,14.49,9.67-5.33,14.15-15.26,11.37-26.5-1-4.7-3.5-8.28-7.92-9a75.21,75.21,0,0,0-11.38-1.25Zm66,.25h0c-2.32,0-4.66-.14-7,0-8.13.59-13.32,4.9-13.76,12.55-.92,9.56,1.24,16.84,7.62,23.55,4.67,4.86,13.26,5.94,19.67,4.76,15.22-2.24,20.21-10.86,17.05-29.73-.83-5.08-4.41-8-9.08-9.15a75.32,75.32,0,0,0-14.54-2Z"/>
                <path class="cls-15"
                      d="M231.82,50s6,16,0,22c0,0-3-19-10-22,0,0,9,1,0,14,0,0-1-16-3-17S231.82,50,231.82,50Z"/>
                <path class="cls-16"
                      d="M136.3,46s-6,16,0,22c0,0,3-19,10-22,0,0-9,1,0,14,0,0,1-16,3-17S136.3,46,136.3,46Z"/>
                <path class="cls-18"
                      d="M168.82,12c10.48-1.41,44-3,62.91,16.66,11.69,12.15-36.85,19.57-36.85,19.57S138.64,55,125.34,28.52c0,0-3.55-11.82,8-22.52C133.32,6,129.82,29,168.82,12Z"/>
                <path class="cls-19"
                      d="M202.82,47S166.06,13,166.06,4.34c0,0-9,6.07-5.65,10.41,0,0-19.51-12.14-16.12-14.74,0,0-6.7,12.14-1.06,17.34,0,0-8.41-6.34-9.41-11.34-4,4.63-8.94,7.86-9,19C124.31,31.41,145.82,56,202.82,47Z"/>
                <path class="cls-10"
                      d="M180.82,406.52l-.08-41.7s-19-6.83-18.93,18.87C161.86,406.56,166.61,410.58,180.82,406.52Z"/>
                <path class="cls-10"
                      d="M185.82,406.52l.08-41.7s19-6.83,18.93,18.87C204.79,406.56,200,410.58,185.82,406.52Z"/>
                <path class="cls-1" d="M120.73,386"/>
                <path class="cls-11"
                      d="M155.06,241.11C163.2,229.61-23.18,219.69,80.54,94c0,0,10.28,20.43,25.63,12.92,9.73-7.08-70.4,85.43,35.29,91.76"/>
                <path class="cls-3"
                      d="M108.21,105.85c-4.69,4.47-23.82,7-28.67-11.85,1.88,2.79,4.21-11.5,20.31-7.88C120.07,90.67,109.15,105.08,108.21,105.85Z"/>
                <path class="cls-20"
                      d="M206.71,335.61,162.45,364l-8.59,6.7s2.15,5.92,20.66-4.54,20.12-16.9,20.12-16.9S212.35,338.83,206.71,335.61Z"/>
                <polygon class="cls-21" points="149.82 328.42 156.57 368 206.72 336.47 149.82 328.42"/>
                <polygon class="cls-22" points="156 360.46 160.27 357.21 155.49 355.26 151.78 358.75 156 360.46"/>
                <polygon class="cls-22"
                         points="156.15 347.1 160.47 343.81 155.63 341.84 151.88 345.37 156.15 347.1"/>
                <polygon class="cls-22"
                         points="156.57 354.27 160.89 350.98 156.05 349.01 152.3 352.53 156.57 354.27"/>
                <polygon class="cls-23" points="160 356.7 180.82 344 157.82 341.84 160 356.7"/>
                <path class="cls-2"
                      d="M4.4,255.66,144,267.73a4,4,0,0,1,3.64,3.37l15.2,92a4,4,0,0,1-1.43,3.79l-5.57,4.56a4,4,0,0,1-3.33.84L32,348.94a4,4,0,0,1-3.07-2.68L.22,261A4,4,0,0,1,4.4,255.66Z"/>
                <polygon class="cls-24"
                         points="164.88 353.73 161.32 353.73 160.82 351 173.52 343.31 180.82 344 164.88 353.73"/>
                <polygon class="cls-24" points="180.82 344 174.88 347.69 160.13 346.51 159.36 341.84 180.82 344"/>
                <line class="cls-24" x1="169.32" y1="350.88" x2="174.32" y2="347.69"/>
                <polyline class="cls-24" points="165.76 342.63 160.18 346.63 161.73 356.12 180.2 345.06"/>
                <path class="cls-2" d="M273.66,337.29s20,18-22.72,27.57S249.26,306.7,273.66,337.29Z"/>
                <path class="cls-25"
                      d="M234.86,363s13.26-20.84,15.23-20,10.94,8.53,13.08,18.66c0,0-7.13-20.34-21.5-24"/>
                <path class="cls-11" d="M243.37,345.76s-7.9,10.12-4.69,10.22S247.69,350.77,243.37,345.76Z"/>
                <path class="cls-5" d="M255.82,337s23,21,26-5S242.82,323,255.82,337Z"/>
            </g>
        </svg>
        <div class="choix joueurs">
            <img src="css/images-interface/joueurs.png" alt="joueurs">
            <h3>Joueurs</h3>
            <p>Vous n’êtes pas encoe inscris ? N’attendez plus et rejoignez une équipe!
                <span class="info">La fin des inscription est prévus le vendredi 13 janvier à 23heure.</span>
            </p>
            <a href="index.php?page=connexion">Rejoindre le défi</a>
        </div>
    </div>

    <div class="tete_classement">
        <h1>En tête du classement</h1>
        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">

                <h2>1</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>
        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">

                <h2>2</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>
        <div class="equipe_classement">
            <div>
                <img src="css/images-interface/classement.png" alt="hexagone">

                <h2>3</h2>
            </div>
            <h2 class="haut_classement">Nom de l'équipe</h2>
        </div>
        <img class="fond_logo" src="css/images-interface/logo_jaune.png" alt="fond_logo">
    </div>

    <div class="pizza">
        <svg id="marie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.12 485">
            <g>
                <path class="cls2-1"
                      d="M135.92,230.34c-2.72-13,134.94,25.23,94.66-120.45,0,0-13.37,12.2-22.39,1.4-5.08-9.09,25.59,104.48-52.48,86.47,0,0-13.63-12.39-28.15-8.17L105,225Z"/>
                <path id="bout-cheveux-ma" class="cls2-2"
                      d="M156.41,113.86s4.7-2.08-4.82,46.32c0,0,13.81-15.2,27.26-47L172.8,96.81s-4.51,8.09-9.43,8.11C161,108.17,156.41,113.86,156.41,113.86Z"/>
                <path class="cls2-3"
                      d="M54.43,323.4,75.25,474.52l15.38-4.76S92,373.22,93.17,368.27s20.88-5.5,20.88-5.5l.56-39.08Z"/>
                <path class="cls2-4"
                      d="M150.54,321.09,133.66,470.35l-17.43-.64s-1.11-96.48-2.22-101.44-20.36-5.5-20.36-5.5l-.55-39.08Z"/>
                <path id="Cheveux" class="cls2-5" d="M112.4,6.85"/>
                <path id="Cheveux-2" data-name="Cheveux" class="cls2-6" d="M112.4,6.85"/>
                <g id="Coup">
                    <path class="cls2-3"
                          d="M125.36,162.89H81.08c2.73,8.42,3.59,25.41-3.2,30.82,3.77,9.81,15.45,36.27,26,38.75,10.5-2.5,21-29,24.78-38.75C121.86,188.3,122.62,171.3,125.36,162.89Z"/>
                </g>
                <path id="Ombre" class="cls2-7"
                      d="M81.4,173.56s22.46,24.11,43.69,16.08c.71,1.86-1.81-8.54-1.74-14.57C123.35,175.07,102.07,189.66,81.4,173.56Z"/>
                <path class="cls2-3"
                      d="M172.46,83.22c0,45.79-29.78,99.69-70,99.69S32.38,128,34.27,82.23C36.18,36.15,61,18,102.41,17.09,142.66,16.16,172.46,37.43,172.46,83.22Z"/>
                <path class="cls2-4" d="M102.41,17.09c40.26,0,70,20.34,70,66.13s-29.78,99.69-70,99.69"/>
                <path class="cls2-3" d="M44.28,75.63c-13.8,0-23.35,6.4-23.35,21.55s9.55,33.31,23.35,33.31"/>
                <path class="cls2-7"
                      d="M34.27,91.9a15.66,15.66,0,0,0-2.49,7.69A20.33,20.33,0,0,0,33,107.46a31.28,31.28,0,0,0,1.5,3.77c.6,1.22,1.27,2.42,1.92,3.63s1.42,2.37,2.19,3.53,1.58,2.3,2.31,3.53C39.88,121,38.87,120,37.86,119s-1.83-2.17-2.73-3.29c-.44-.56-.8-1.19-1.19-1.79s-.78-1.2-1.12-1.84a29.39,29.39,0,0,1-1.71-4,22.88,22.88,0,0,1-1-4.27l-.1-2.2c.05-.74.11-1.47.2-2.2A12.32,12.32,0,0,1,34.27,91.9Z"/>
                <path class="cls2-4" d="M162.93,130.49c13.8,0,23.35-18.16,23.35-33.31s-9.55-21.55-23.35-21.55"/>
                <path class="cls2-7"
                      d="M172.93,91.9a12.32,12.32,0,0,1,4,7.52c.09.73.15,1.46.2,2.2l-.1,2.2a22.88,22.88,0,0,1-1,4.27,29.37,29.37,0,0,1-1.71,4c-.34.64-.75,1.23-1.12,1.84s-.74,1.23-1.19,1.79c-.89,1.12-1.76,2.25-2.73,3.29s-2,2-3.09,2.92c.73-1.22,1.53-2.38,2.31-3.53s1.44-2.38,2.19-3.53,1.32-2.41,1.92-3.63a31.28,31.28,0,0,0,1.5-3.77,20.33,20.33,0,0,0,1.23-7.87A15.66,15.66,0,0,0,172.93,91.9Z"/>
                <path class="cls2-7"
                      d="M94.69,127.68a29.28,29.28,0,0,0,4.12,3,9.72,9.72,0,0,0,4.39,1.41,7.82,7.82,0,0,0,4.32-1.25,27.4,27.4,0,0,0,4-3.14,11,11,0,0,1-3.06,4.4,7.71,7.71,0,0,1-5.32,2,8.79,8.79,0,0,1-5.21-2.13A11.36,11.36,0,0,1,94.69,127.68Z"/>
                <path class="cls2-8"
                      d="M138.68,84c-12.17,0-26.49,8.2-26.49,19.28S126.78,122,138.94,122s17.31-7.67,17.31-18.75S150.85,84,138.68,84Z"/>
                <ellipse class="cls2-9" cx="126.89" cy="104.74" rx="3.72" ry="5.59"/>
                <ellipse class="cls2-8" cx="129.76" cy="105.46" rx="1.72" ry="2.01"/>
                <path class="cls2-8"
                      d="M70.43,84c12.17,0,26.49,8.2,26.49,19.28S82.34,122,70.17,122s-17.31-7.67-17.31-18.75S58.26,84,70.43,84Z"/>
                <ellipse class="cls2-9" cx="80.19" cy="104.74" rx="3.72" ry="5.59"/>
                <ellipse class="cls2-8" cx="83.05" cy="105.17" rx="1.72" ry="2.01"/>
                <path class="cls2-1"
                      d="M103.84,232.46,78.11,193.39s-27.64-1.72-41.18,8.77S4.73,232.46.08,257.46c-1.88,10.09,30.65,73.46,30.65,73.46l23.69-8.75s-26.7-56-26.14-64.71,20.5-38.47,23.88-34.1,16.73,99.38,16.73,99.38h36.86Z"/>
                <g class="cls2-10">
                    <path class="cls2-11"
                          d="M54.43,322.45,75.25,473.56l15.38-4.76S92,372.27,93.17,367.31s20.88-5.5,20.88-5.5l.56-39.08Z"/>
                    <path class="cls2-11"
                          d="M147.68,320.13l-14,149.26-17.43-.64s-1.11-96.48-2.22-101.44-20.36-5.5-20.36-5.5l-.55-39.08Z"/>
                </g>
                <path class="cls2-9"
                      d="M116.23,459.27l1,21.92s18.11-1.91,28.59,3.81c13.34,0,19.06,0,21.92-3.81-4.76-18.11-24.78-13.34-28.59-13.34S147.68,450.69,116.23,459.27Z"/>
                <path class="cls2-3" d="M30.73,330.92s25,32,23.69-8.47C54.43,322.45,30.46,319.18,30.73,330.92Z"/>
                <polyline class="cls2-1" points="125.27 206.57 101.94 233.41 100.48 319.88 151.24 319.88"/>
                <polyline class="cls2-1" points="78.11 193.39 103.84 232.46 105.75 322.74 54.98 322.74"/>
                <path class="cls2-12" d="M52.16,223.36"/>
                <path class="cls2-13" d="M155.3,80.94S135.29,69.5,120,83.8"/>
                <path class="cls2-13" d="M57.15,80.94s20-11.44,35.26,2.86"/>
                <path class="cls2-13"
                      d="M112.62,100s4.73-18.12,29.9-15.73c0,0,9.71,1.08,12.2,9.83s6.3-1.73,6.3-1.73"/>
                <path class="cls2-13" d="M153.93,92s3.75,7.5,5.66-3"/>
                <path class="cls2-13"
                      d="M96.22,100s-4.73-18.12-29.9-15.73c0,0-9.71,1.08-12.2,9.83s-6.3-1.73-6.3-1.73"/>
                <path class="cls2-13" d="M54.9,92s-3.75,7.5-5.66-3"/>
                <circle class="cls2-1" cx="74.78" cy="242.47" r="25.25"/>
                <circle class="cls2-12" cx="130.05" cy="242.47" r="25.25"/>
                <polygon class="cls2-1"
                         points="141.01 415.43 65.72 415.43 53.33 320.13 150.54 316.32 141.01 415.43"/>
                <rect class="cls2-9" x="117.18" y="478.33" width="14.29" height="6.67"/>
                <path class="cls2-9"
                      d="M91.45,459.27l-1,21.92S72.39,479.28,61.91,485c-13.34,0-19.06,0-21.92-3.81,4.76-18.11,24.78-13.34,28.59-13.34S60,450.69,91.45,459.27Z"/>
                <rect class="cls2-9" x="76.21" y="478.33" width="14.29" height="6.67"
                      transform="translate(166.71 963.33) rotate(-180)"/>
                <line id="inf-fille" class="cls2-14" x1="118.52" y1="149.3" x2="87.37" y2="149.53"/>
                <path id="inf-fille-2" data-name="inf-fille" class="cls2-14" d="M119.63,149.66"/>
                <path id="inf-fille-3" data-name="inf-fille" class="cls2-14" d="M84.51,149.92"/>
                <path id="_Tracé_" data-name="&lt;Tracé&gt;" class="cls2-15" d="M84.93,150"/>
                <g id="_Groupe_" data-name="&lt;Groupe&gt;">
                    <g id="visage1">
                        <g id="ombres-visage1">
                            <path id="ombre1" class="cls2-16"
                                  d="M86.42,181.59s31,22.61,39.52,15.45c0,0-5.78-5.15-3.79-15.45-19.61,16.08-35.73,0-35.73,0"/>
                        </g>
                    </g>
                    <g id="vetements-ma">
                        <g id="haut-ma">
                            <path id="col-ma" class="cls2-17"
                                  d="M59.62,201.73s44.09,39,89.15,0c0,0-.51-.62-6.61-1.95,0,0-35.8,27.37-74.47-.29C67.69,199.5,62.06,200.93,59.62,201.73Z"/>
                        </g>
                        <g id="echarpe">
                            <g id="bout1">
                                <path id="echarpe-ma" class="cls2-8"
                                      d="M66.6,161.14s-59,20.79-26.19,54.92,89.74,22.41,89.74,22.41S52.8,189.22,66.6,161.14Z"/>
                                <path id="ombre-echarpe-ma" class="cls2-18"
                                      d="M71.44,235.06s10.57-7.91,10.07-19l6.09,22.86S73.43,237,71.44,235.06Z"/>
                                <g id="pointille-ma">
                                    <g id="_Groupe_2" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="57.66 165.65 56.8 166.84 56.36 166.52 57.37 165.38 57.66 165.65"/>
                                        <polygon class="cls2-19"
                                                 points="55.31 169.34 54.06 171.95 53.1 171.49 54.61 168.92 55.31 169.34"/>
                                        <polygon class="cls2-19"
                                                 points="53.06 174.65 52.33 177.42 50.85 177.04 51.84 174.21 53.06 174.65"/>
                                        <polygon class="cls2-19"
                                                 points="51.87 180.24 51.71 183.07 49.71 182.98 50.13 179.97 51.87 180.24"/>
                                        <polygon class="cls2-19"
                                                 points="51.82 185.9 52.21 188.69 49.87 189.06 49.63 186.02 51.82 185.9"/>
                                        <polygon class="cls2-19"
                                                 points="52.88 191.43 53.8 194.08 51.23 195.02 50.41 192.07 52.88 191.43"/>
                                        <polygon class="cls2-19"
                                                 points="54.96 196.65 56.33 199.12 53.61 200.64 52.31 197.88 54.96 196.65"/>
                                        <polygon class="cls2-19"
                                                 points="57.88 201.48 59.59 203.73 56.77 205.84 55.11 203.29 57.88 201.48"/>
                                        <polygon class="cls2-19"
                                                 points="61.45 205.87 63.42 207.91 60.5 210.64 58.57 208.29 61.45 205.87"/>
                                        <path class="cls2-19"
                                              d="M65.46,209.89c.71.63,1.39,1.3,2.08,1.95l-2.77,3.08c-.73-.69-1.49-1.36-2.2-2.07Z"/>
                                        <polygon class="cls2-19"
                                                 points="69.66 213.76 71.81 215.67 69.52 218.61 67.1 216.83 69.66 213.76"/>
                                        <path class="cls2-19"
                                              d="M74,217.54c.74.62,1.5,1.21,2.23,1.85l-1.67,2.43c-.86-.5-1.7-1-2.56-1.55Z"/>
                                        <path class="cls2-19"
                                              d="M78.5,221.23c.76.61,1.52,1.21,2.28,1.84l-.91,1.48c-.9-.42-1.78-.87-2.68-1.3Z"/>
                                        <path class="cls2-19"
                                              d="M83.12,225c.39.32.78.65,1.16,1l-.2.35c-.48-.18-1-.35-1.43-.53Z"/>
                                    </g>
                                    <g id="_Groupe_3" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="44.26 173.51 43.55 174.79 43.08 174.53 43.94 173.28 44.26 173.51"/>
                                        <polygon class="cls2-19"
                                                 points="42.33 177.54 41.37 180.39 40.37 180.06 41.58 177.22 42.33 177.54"/>
                                        <polygon class="cls2-19"
                                                 points="40.67 183.29 40.24 186.24 38.73 186.03 39.41 183 40.67 183.29"/>
                                        <polygon class="cls2-19"
                                                 points="40.08 189.21 40.19 192.16 38.19 192.24 38.32 189.12 40.08 189.21"/>
                                        <polygon class="cls2-19"
                                                 points="40.54 195.09 41.15 197.97 38.84 198.48 38.37 195.38 40.54 195.09"/>
                                        <polygon class="cls2-19"
                                                 points="42 200.78 43.08 203.51 40.54 204.53 39.56 201.54 42 200.78"/>
                                        <polygon class="cls2-19"
                                                 points="44.37 206.15 45.84 208.69 43.16 210.25 41.75 207.44 44.37 206.15"/>
                                        <polygon class="cls2-19"
                                                 points="47.49 211.12 49.29 213.45 46.49 215.58 44.75 212.97 47.49 211.12"/>
                                        <polygon class="cls2-19"
                                                 points="51.23 215.67 53.28 217.79 50.36 220.52 48.36 218.1 51.23 215.67"/>
                                        <path class="cls2-19"
                                              d="M55.4,219.85c.74.66,1.44,1.35,2.16,2L54.77,225c-.76-.71-1.54-1.41-2.28-2.14Z"/>
                                        <polygon class="cls2-19"
                                                 points="59.74 223.88 61.96 225.86 59.67 228.79 57.17 226.94 59.74 223.88"/>
                                        <path class="cls2-19"
                                              d="M64.24,227.8c.77.64,1.55,1.26,2.32,1.92l-1.67,2.42c-.89-.52-1.76-1.08-2.64-1.62Z"/>
                                        <path class="cls2-19"
                                              d="M68.9,231.62c.79.63,1.58,1.25,2.36,1.9L70.35,235c-.93-.44-1.84-.91-2.77-1.36Z"/>
                                        <polygon class="cls2-19"
                                                 points="73.7 235.48 74.87 236.45 74.67 236.79 73.24 236.25 73.7 235.48"/>
                                    </g>
                                </g>
                            </g>
                            <g id="bout2">
                                <path id="echarpe-ma-2" data-name="echarpe-ma" class="cls2-8"
                                      d="M141.63,165.65s28.26.17,17.31,14.18c0,0-17.61,11.42-43.71,10.58C115.24,190.41,123.13,173,141.63,165.65Z"/>
                                <g id="pointille-ma-2" data-name="pointille-ma">
                                    <g id="_Groupe_4" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="147.58 166.21 146.74 167.47 146.08 166.85 147.29 165.93 147.58 166.21"/>
                                        <path class="cls2-19"
                                              d="M145.27,169.59c-.49.71-1,1.4-1.49,2.09l-1.71-1.61c.66-.55,1.32-1.09,2-1.62Z"/>
                                        <path class="cls2-19"
                                              d="M142.25,173.74c-.51.68-1,1.35-1.53,2.06l-2.58-2.42c.68-.52,1.31-1.1,2-1.65Z"/>
                                        <path class="cls2-19"
                                              d="M139.21,177.87a11.51,11.51,0,0,1-2,1.66l-2.62-2.46a11.51,11.51,0,0,1,1.54-2.05Z"/>
                                        <path class="cls2-19"
                                              d="M134.93,180.84a8.66,8.66,0,0,1-1.61.55l-.29-.27a8.66,8.66,0,0,1,.45-1.64Z"/>
                                    </g>
                                    <g id="_Groupe_5" data-name="&lt;Groupe&gt;">
                                        <path class="cls2-19"
                                              d="M154.39,167.57c-.24.45-.47.91-.72,1.35l-.77-.64c.38-.33.79-.64,1.19-1Z"/>
                                        <path class="cls2-19"
                                              d="M152.25,171.41c-.49.81-1,1.64-1.48,2.43L148.58,172c.68-.66,1.41-1.27,2.12-1.9Z"/>
                                        <path class="cls2-19"
                                              d="M149.29,176.27a12,12,0,0,1-.72,1.23,6,6,0,0,1-.95,1L144.54,176a6,6,0,0,1,.85-1.12,12.06,12.06,0,0,1,1.08-.94Z"/>
                                        <path class="cls2-19"
                                              d="M145.16,180.16a7.32,7.32,0,0,1-1.67.56l-.31-.26a7.32,7.32,0,0,1,.24-1.75Z"/>
                                    </g>
                                </g>
                            </g>
                            <g id="ombre-echarpe-ma-2" data-name="ombre-echarpe-ma">
                                <path id="_Tracé_2" data-name="&lt;Tracé&gt;" class="cls2-18"
                                      d="M66.79,160c-4.1,3.13-4.49,9.31-.4,14.81,0,0,8-3.23,14.26-3.2C80.65,171.64,74.14,168.92,66.79,160Z"/>
                            </g>
                            <g id="bout4">
                                <path id="echarpe-ma-3" data-name="echarpe-ma" class="cls2-8"
                                      d="M78,170.35S46.79,172,79.78,196.95s90.59-4.16,90.59-4.16,6.1-5.2-4.57-11.05S109.3,181.58,78,170.35Z"/>
                                <path id="ombre-echarpe-ma-3" data-name="ombre-echarpe-ma" class="cls-18"
                                      d="M66.39,174.85s9,20.54,13.39,22.1C79.78,196.95,58.42,182.45,66.39,174.85Z"/>
                                <g id="pointille-ma-3" data-name="pointille-ma">
                                    <g id="_Groupe_6" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="168.92 183.94 167.45 184.24 167.37 183.75 168.85 183.55 168.92 183.94"/>
                                        <polygon class="cls2-19"
                                                 points="164.59 184.79 161.72 185.31 161.59 184.42 164.48 184.1 164.59 184.79"/>
                                        <polygon class="cls2-19"
                                                 points="158.84 185.78 155.95 186.22 155.81 184.99 158.7 184.72 158.84 185.78"/>
                                        <polygon class="cls2-19"
                                                 points="153.06 186.63 150.17 187.02 150.01 185.45 152.91 185.24 153.06 186.63"/>
                                        <polygon class="cls2-19"
                                                 points="147.27 187.38 144.37 187.71 144.21 185.8 147.11 185.64 147.27 187.38"/>
                                        <polygon class="cls2-19"
                                                 points="141.46 188.01 138.54 188.27 138.41 186.07 141.31 185.95 141.46 188.01"/>
                                        <polygon class="cls2-19"
                                                 points="135.63 188.5 132.71 188.69 132.61 186.23 135.51 186.16 135.63 188.5"/>
                                        <polygon class="cls2-19"
                                                 points="129.78 188.86 126.86 188.99 126.81 186.26 129.71 186.26 129.78 188.86"/>
                                        <polygon class="cls2-19"
                                                 points="123.92 189.09 120.99 189.15 121.02 186.15 123.91 186.22 123.92 189.09"/>
                                        <polygon class="cls2-19"
                                                 points="118.06 189.17 115.12 189.16 115.24 185.88 118.12 186.04 118.06 189.17"/>
                                        <polygon class="cls2-19"
                                                 points="112.18 189.1 109.23 189 109.48 185.43 112.35 185.68 112.18 189.1"/>
                                        <polygon class="cls2-19"
                                                 points="106.29 188.87 103.34 188.69 103.75 184.75 106.61 185.11 106.29 188.87"/>
                                        <polygon class="cls2-19"
                                                 points="100.4 188.42 97.46 188.05 98.06 183.94 100.9 184.35 100.4 188.42"/>
                                        <path class="cls2-19"
                                              d="M94.53,187.58c-1-.18-1.94-.39-2.91-.58l.79-4c.94.16,1.89.3,2.82.47Z"/>
                                        <polygon class="cls-19"
                                                 points="88.73 186.31 85.86 185.5 86.79 181.92 89.59 182.5 88.73 186.31"/>
                                        <polygon class="cls2-19"
                                                 points="83.02 184.59 80.23 183.55 81.25 180.55 84.01 181.28 83.02 184.59"/>
                                        <polygon class="cls2-19"
                                                 points="77.49 182.37 74.81 181.05 75.79 178.83 78.5 179.74 77.49 182.37"/>
                                        <path class="cls2-19"
                                              d="M72.22,179.56c-.84-.54-1.65-1.11-2.47-1.66l.72-1.22,2.64,1.14Z"/>
                                        <polygon class="cls2-19"
                                                 points="67.39 176.04 66.27 175.01 66.51 174.69 67.83 175.39 67.39 176.04"/>
                                    </g>
                                    <g id="_Groupe_7" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="171.92 187.79 170.48 188.19 170.36 187.7 171.83 187.4 171.92 187.79"/>
                                        <polygon class="cls2-19"
                                                 points="167.5 188.97 164.51 189.72 164.32 188.82 167.34 188.28 167.5 188.97"/>
                                        <polygon class="cls2-19"
                                                 points="161.51 190.42 158.5 191.1 158.26 189.84 161.29 189.35 161.51 190.42"/>
                                        <polygon class="cls2-19"
                                                 points="155.48 191.75 152.46 192.37 152.19 190.75 155.22 190.31 155.48 191.75"/>
                                        <polygon class="cls2-19"
                                                 points="149.43 192.96 146.4 193.53 146.1 191.55 149.14 191.17 149.43 192.96"/>
                                        <polygon class="cls2-19"
                                                 points="143.35 194.04 140.3 194.53 140.01 192.27 143.05 191.93 143.35 194.04"/>
                                        <polygon class="cls2-19"
                                                 points="137.25 194.99 134.18 195.42 133.9 192.87 136.96 192.59 137.25 194.99"/>
                                        <polygon class="cls2-19"
                                                 points="131.11 195.81 128.04 196.17 127.79 193.33 130.84 193.12 131.11 195.81"/>
                                        <polygon class="cls-19"
                                                 points="124.96 196.49 121.87 196.77 121.68 193.65 124.73 193.51 124.96 196.49"/>
                                        <polygon class="cls-19"
                                                 points="118.78 197.02 115.68 197.23 115.57 193.78 118.62 193.74 118.78 197.02"/>
                                        <polygon class="cls2-19"
                                                 points="112.58 197.39 109.47 197.52 109.47 193.7 112.52 193.78 112.58 197.39"/>
                                        <polygon class="cls2-19"
                                                 points="106.35 197.58 103.23 197.55 103.39 193.44 106.42 193.58 106.35 197.58"/>
                                        <path class="cls2-19"
                                              d="M100.11,197.42c-1-.08-2.08-.15-3.12-.25l.35-4.1c1,0,2,.13,3,.2Z"/>
                                        <polygon class="cls2-19"
                                                 points="93.88 196.81 90.77 196.31 91.3 192.56 94.32 192.84 93.88 196.81"/>
                                        <polygon class="cls2-19"
                                                 points="87.69 195.72 84.63 194.97 85.31 191.78 88.3 192.2 87.69 195.72"/>
                                        <polygon class="cls2-19"
                                                 points="81.61 194.08 78.64 193.03 79.38 190.64 82.33 191.26 81.61 194.08"/>
                                        <path class="cls2-19"
                                              d="M75.74,191.79c-.94-.46-1.87-1-2.8-1.44l.59-1.33c1,.29,2,.57,2.91.88Z"/>
                                        <polygon class="cls2-19"
                                                 points="70.27 188.68 69.04 187.77 69.25 187.43 70.64 187.99 70.27 188.68"/>
                                    </g>
                                </g>
                            </g>
                            <g id="bout3">
                                <path id="echarpe-ma-4" data-name="echarpe-ma" class="cls2-8"
                                      d="M171.87,190.45s34,7.9,2.41,45.87-67.65,55.22-67.65,55.22-34.6-87-26.86-94.6C79.78,196.95,109,222.06,171.87,190.45Z"/>
                                <g id="pointille-ma-4" data-name="pointille-ma">
                                    <g id="_Groupe_8" data-name="&lt;Groupe&gt;">
                                        <path class="cls2-19"
                                              d="M179.91,194a1.86,1.86,0,0,1,0,.43,3.4,3.4,0,0,1-.1.39,5.23,5.23,0,0,1-.29.73l-.45-.23a4.74,4.74,0,0,0,.31-.64,3,3,0,0,0,.11-.33,1.66,1.66,0,0,0,.05-.31Z"/>
                                        <polygon class="cls2-19"
                                                 points="177.66 198.12 175.39 200.23 174.83 199.51 177.16 197.62 177.66 198.12"/>
                                        <polygon class="cls2-19"
                                                 points="172.91 202.07 170.31 203.74 169.69 202.62 172.32 201.15 172.91 202.07"/>
                                        <polygon class="cls2-19"
                                                 points="167.64 205.26 164.91 206.68 164.22 205.19 166.98 203.96 167.64 205.26"/>
                                        <polygon class="cls2-19"
                                                 points="162.14 208.01 159.34 209.27 158.6 207.41 161.43 206.34 162.14 208.01"/>
                                        <polygon class="cls2-19"
                                                 points="156.51 210.44 153.65 211.57 152.88 209.42 155.75 208.44 156.51 210.44"/>
                                        <polygon class="cls2-19"
                                                 points="150.78 212.64 147.9 213.68 147.11 211.24 150 210.35 150.78 212.64"/>
                                        <polygon class="cls2-19"
                                                 points="145 214.68 142.09 215.64 141.28 212.91 144.2 212.09 145 214.68"/>
                                        <polygon class="cls2-19"
                                                 points="139.18 216.57 136.25 217.47 135.41 214.46 138.35 213.7 139.18 216.57"/>
                                        <polygon class="cls-19"
                                                 points="133.32 218.36 130.38 219.22 129.51 215.88 132.46 215.19 133.32 218.36"/>
                                        <polygon class="cls2-19"
                                                 points="127.44 220.06 124.49 220.9 123.58 217.2 126.55 216.56 127.44 220.06"/>
                                        <polygon class="cls2-19"
                                                 points="121.54 221.71 118.58 222.47 117.64 218.46 120.61 217.82 121.54 221.71"/>
                                        <path class="cls2-19"
                                              d="M115.6,223.18c-1,.21-2,.45-3,.65l-.89-4c1-.24,2-.46,3-.68Z"/>
                                        <polygon class="cls2-19"
                                                 points="109.61 224.42 106.6 224.96 105.81 221.25 108.76 220.51 109.61 224.42"/>
                                        <polygon class="cls2-19"
                                                 points="103.58 225.47 100.55 225.93 99.91 222.74 102.86 221.98 103.58 225.47"/>
                                        <polygon class="cls2-19"
                                                 points="97.52 226.36 94.49 226.75 94.01 224.29 96.96 223.5 97.52 226.36"/>
                                        <path class="cls2-19"
                                              d="M91.44,227.08c-1,.11-2,.19-3.05.29l-.27-1.43c1-.28,2-.58,2.94-.84Z"/>
                                        <polygon class="cls2-19"
                                                 points="85.24 227.61 83.72 227.68 83.65 227.29 85.09 226.83 85.24 227.61"/>
                                    </g>
                                    <g id="_Groupe_9" data-name="&lt;Groupe&gt;">
                                        <path class="cls2-19"
                                              d="M187,203.07a1.13,1.13,0,0,1,.6.68,1.71,1.71,0,0,1,0,.86l-.48-.12a1.25,1.25,0,0,0,0-.62.78.78,0,0,0-.12-.26.7.7,0,0,0-.2-.18Z"/>
                                        <polygon class="cls2-19"
                                                 points="185.98 207.31 183.78 209.46 183.21 208.77 185.47 206.83 185.98 207.31"/>
                                        <polygon class="cls2-19"
                                                 points="181.41 211.39 178.95 213.19 178.26 212.17 180.78 210.53 181.41 211.39"/>
                                        <polygon class="cls2-19"
                                                 points="176.43 214.91 173.88 216.57 173.08 215.22 175.69 213.72 176.43 214.91"/>
                                        <polygon class="cls2-19"
                                                 points="171.3 218.18 168.7 219.75 167.77 218.08 170.43 216.67 171.3 218.18"/>
                                        <polygon class="cls2-19"
                                                 points="166.07 221.28 163.43 222.78 162.4 220.83 165.09 219.47 166.07 221.28"/>
                                        <polygon class="cls2-19"
                                                 points="160.77 224.25 158.11 225.7 156.99 223.5 159.7 222.18 160.77 224.25"/>
                                        <polygon class="cls2-19"
                                                 points="155.43 227.13 152.74 228.54 151.53 226.09 154.26 224.8 155.43 227.13"/>
                                        <polygon class="cls2-19"
                                                 points="150.05 229.94 147.35 231.32 146.04 228.62 148.79 227.36 150.05 229.94"/>
                                        <polygon class="cls2-19"
                                                 points="144.64 232.69 141.93 234.06 140.53 231.09 143.29 229.87 144.64 232.69"/>
                                        <polygon class="cls-19"
                                                 points="139.22 235.42 136.5 236.77 134.99 233.51 137.77 232.31 139.22 235.42"/>
                                        <polygon class="cls2-19"
                                                 points="133.78 238.12 131.06 239.47 129.42 235.86 132.21 234.69 133.78 238.12"/>
                                        <polygon class="cls2-19"
                                                 points="128.33 240.78 125.58 242.06 123.87 238.26 126.64 237.05 128.33 240.78"/>
                                        <path class="cls2-19"
                                              d="M122.81,243.29c-.92.41-1.86.79-2.79,1.19l-1.64-3.71c.91-.42,1.82-.86,2.74-1.27Z"/>
                                        <polygon class="cls2-19"
                                                 points="117.21 245.63 114.39 246.75 112.91 243.36 115.64 242.06 117.21 245.63"/>
                                        <polygon class="cls2-19"
                                                 points="111.56 247.85 108.72 248.92 107.47 246.02 110.19 244.68 111.56 247.85"/>
                                        <polygon class="cls2-19"
                                                 points="105.87 249.96 103.01 250.98 102.06 248.75 104.76 247.38 105.87 249.96"/>
                                        <polygon class="cls2-19"
                                                 points="100.13 251.95 97.23 252.89 96.69 251.59 99.36 250.16 100.13 251.95"/>
                                        <polygon class="cls2-19"
                                                 points="94.22 253.81 92.77 254.23 92.62 253.86 93.93 253.1 94.22 253.81"/>
                                    </g>
                                    <g id="_Groupe_10" data-name="&lt;Groupe&gt;">
                                        <polygon class="cls2-19"
                                                 points="183.07 227.3 182.2 228.56 181.81 228.23 182.73 227.09 183.07 227.3"/>
                                        <polygon class="cls2-19"
                                                 points="180.25 230.88 178.14 233.07 177.5 232.37 179.72 230.37 180.25 230.88"/>
                                        <polygon class="cls2-19"
                                                 points="175.93 235.15 173.64 237.14 172.82 236.1 175.19 234.28 175.93 235.15"/>
                                        <polygon class="cls2-19"
                                                 points="171.3 239.07 168.92 240.95 167.92 239.56 170.39 237.86 171.3 239.07"/>
                                        <polygon class="cls2-19"
                                                 points="166.49 242.77 164.03 244.53 162.88 242.8 165.41 241.2 166.49 242.77"/>
                                        <polygon class="cls2-19"
                                                 points="161.53 246.25 159 247.92 157.75 245.9 160.33 244.37 161.53 246.25"/>
                                        <polygon class="cls2-19"
                                                 points="156.45 249.56 153.88 251.17 152.53 248.86 155.15 247.4 156.45 249.56"/>
                                        <polygon class="cls2-19"
                                                 points="151.29 252.74 148.69 254.29 147.25 251.69 149.9 250.29 151.29 252.74"/>
                                        <polygon class="cls2-19"
                                                 points="146.06 255.81 143.43 257.31 141.9 254.4 144.58 253.06 146.06 255.81"/>
                                        <polygon class="cls2-19"
                                                 points="140.79 258.79 138.13 260.25 136.49 257 139.2 255.71 140.79 258.79"/>
                                        <polygon class="cls2-19"
                                                 points="135.47 261.7 132.79 263.12 131.03 259.49 133.76 258.25 135.47 261.7"/>
                                        <path class="cls2-19"
                                              d="M130.09,264.48c-.9.45-1.82.87-2.73,1.3L125.59,262c.9-.43,1.8-.87,2.71-1.28Z"/>
                                        <path class="cls2-19"
                                              d="M124.59,267q-1.39.61-2.79,1.18l-1.61-3.54q1.34-.68,2.69-1.33Z"/>
                                        <path class="cls2-19"
                                              d="M119,269.34c-.93.38-1.88.73-2.83,1.09l-1.35-3.08c.89-.45,1.78-.92,2.69-1.35Z"/>
                                        <polygon class="cls2-19"
                                                 points="113.33 271.49 110.47 272.48 109.45 270.09 112.13 268.71 113.33 271.49"/>
                                        <path class="cls2-19"
                                              d="M107.59,273.43c-1,.31-1.93.61-2.9.89l-.58-1.4c.89-.49,1.77-1,2.67-1.43Z"/>
                                        <polygon class="cls2-19"
                                                 points="101.69 275.19 100.22 275.56 100.07 275.19 101.38 274.43 101.69 275.19"/>
                                    </g>
                                </g>
                                <path id="ombre-echarpe-ma-4" data-name="ombre-echarpe-ma" class="cls2-20"
                                      d="M81.51,216.06s84.3-22.37,90.37-25.6c0,0-68.51,22-92.1,6.49C79.78,196.95,76.37,200.31,81.51,216.06Z"/>
                            </g>
                        </g>
                    </g>
                </g>
                <path class="cls2-4" d="M61.91,70.45,100,39.84S81.92,27.57,61.91,70.45Z"/>
                <g id="coupe-ma">
                    <path id="bout-cheveux-ma-2" data-name="bout-cheveux-ma" class="cls2-2"
                          d="M75.25,171.47S89.86,180,66.72,188.6c.25.36-32.8-28.14-33.4-40.55L39,129.54c.07.16,0,0,4.76,1"/>
                    <path id="cheveux-ma" class="cls2-21"
                          d="M132,2.89C90.74-6.23,27.86,3.12,30,91.37c0,0-6.48,28.35,1.42,65.8,0,0,38.12-143.9,71.47-115.31,0,0,23-8.22,31.08-.87,4.7,1.77,15.26,10.33,18.6,30.26,6.7,17,20.85,79.24,20.85,79.24C178.77,151.62,193.89,1.94,132,2.89Z"/>
                    <g id="tresse">
                        <g id="brin2-ma">
                            <path id="_Tracé_3" data-name="&lt;Tracé&gt;" class="cls2-22"
                                  d="M58.25,180.05S44.94,192.43,65.8,209c0,0,.33-4.28,6.94-9.32,0,0-6.12-7.23-5.86-11.07Z"/>
                            <path id="_Tracé_4" data-name="&lt;Tracé&gt;" class="cls2-22"
                                  d="M80.48,206.73c1.63.56,14.4,6.54-10.24,23.43l-6.7-8.55S78.85,206.17,80.48,206.73Z"/>
                        </g>
                        <rect id="elastique" class="cls2-23" x="55.35" y="228.82" width="30.31" height="5.8" rx="2.9"
                              ry="2.9"/>
                        <g id="brin2-ma-2" data-name="brin2-ma">
                            <path id="_Tracé_5" data-name="&lt;Tracé&gt;" class="cls2-21"
                                  d="M82.6,190.24s13.17,6.36-11.25,24.35L64.82,208s4-9.13,7.67-9.35S82.6,190.24,82.6,190.24Z"/>
                            <path id="_Tracé_6" data-name="&lt;Tracé&gt;" class="cls2-21"
                                  d="M56.52,214.21s-9.43,9.78,7,15.57h6.7S62,217.07,56.52,214.21Z"/>
                            <path id="_Tracé_7" data-name="&lt;Tracé&gt;" class="cls2-21"
                                  d="M69.17,279c0,.22-17.75-23.1-8-44.36H79.6s6.22,16,1.11,32.71c0,0-6.66-6.58-2.22,5.92C78.49,273.25,70.95,256.62,69.17,279Z"/>
                        </g>
                        <g id="brin1-ma">
                            <path id="_Tracé_8" data-name="&lt;Tracé&gt;" class="cls2-24"
                                  d="M80,177.19s9.53,1,2.59,13c-3.61,6.29-10.67,9.62-10.67,9.62s-6.2-9.39-5.06-11.26C66.88,188.6,78.11,185.77,80,177.19Z"/>
                            <path id="_Tracé_9" data-name="&lt;Tracé&gt;" class="cls2-24"
                                  d="M57,199.67s-12.15,6.58,6.54,21.93l7.81-7S57.89,201.23,57,199.67Z"/>
                            <path id="_Tracé_10" data-name="&lt;Tracé&gt;" class="cls2-24"
                                  d="M70.24,229.79H83.18s2.44-4.48-3.44-7.79Z"/>
                        </g>
                    </g>
                    <path id="rai-ma" class="cls2-25" d="M132,2.89s-28.22,21.7-29.09,39"/>
                    <path id="reflets-cheveux-ma" class="cls2-26"
                          d="M129.57,1.84S31.91-28.5,31.42,157.18c0,0-17-57.2,11.44-123.89C56,4.82,90.75-3,129.57,1.84Z"/>
                </g>
                <path class="cls2-27" d="M82.14,142H125s-5.95,19-21.41,19S82.14,142,82.14,142Z"/>
                <path class="cls2-28" d="M102.47,161s-8.86.38-13.68-7.31c0,0,8.18-4.69,14.18-4.69"/>
                <path class="cls2-29" d="M102.32,161S113,162,118,153.69c0,0-8.76-4.69-15.18-4.69"/>
                <rect class="cls2-8" x="87.97" y="142" width="32" height="3"/>
                <path class="cls2-3"
                      d="M208.19,111.29c2.33,5.45,14.87,14.74,22.39-1.4-1.93,2.07-.07-13.51-12.2-14.61C203.13,93.89,207.69,110.3,208.19,111.29Z"/>
                <path class="cls2-30" d="M218.7,95.19s-4.59-19.26,0-20.18c0,0-27.1-4.48-9,22.52Z"/>
                <path class="cls2-8"
                      d="M213.37,84.47l-.53,1.11-.13.26-.21-.21-.86-1,.19,1.35-.57,0-.13-2.85.64.78.8.94.68-1.24.46-.9.13.91.28,2-.57.08Z"/>
                <path class="cls2-8"
                      d="M211.09,84.78,210.56,86l-.14.25-.2-.2-.86-.91.18,1.25-.56.08-.28-2-.13-.91.68.75,1,1,.46-1.16.38-.94.7,2.82-.56.08Z"/>
                <circle class="cls2-8" cx="254.9" cy="56.84" r="0.21"
                        transform="translate(-5.44 36.22) rotate(-8.04)"/>
                <circle class="cls2-8" cx="211.07" cy="82.78" r="0.19"
                        transform="translate(-9.5 30.34) rotate(-8.04)"/>
                <circle class="cls2-8" cx="213.62" cy="82.41" r="0.19"
                        transform="translate(-9.43 30.69) rotate(-8.04)"/>
                <rect class="cls2-8" x="213.62" y="85.93" width="0.6" height="0.6"
                      transform="translate(-9.96 30.77) rotate(-8.04)"/>
                <rect class="cls2-8" x="209.06" y="86.32" width="4.28" height="0.6"
                      transform="matrix(0.99, -0.14, 0.14, 0.99, -10.04, 30.4)"/>
                <path class="cls2-31" d="M223,96.66s-.39-19.8,4.29-19.72c0,0-25.53-10.14-13.55,20.1Z"/>
                <path class="cls2-8"
                      d="M220,85l-.75,1-.18.22-.16-.25-.63-1.12-.1,1.36-.56-.1.48-2.81.46.9.59,1.09.93-1.07.64-.78-.07.92-.15,2-.58,0Z"/>
                <path class="cls2-8"
                      d="M217.72,84.87l-.76,1-.19.22-.16-.24L216,84.81l-.09,1.25-.56,0,.15-2,.07-.92.5.88.81,1.18.69-1,.57-.84.08,2.91-.57,0Z"/>
                <circle class="cls2-8" cx="215.61" cy="82.71" r="0.19"
                        transform="translate(117.2 291.62) rotate(-85.77)"/>
                <circle class="cls2-8" cx="218.13" cy="82.91" r="0.19"
                        transform="translate(119.34 294.33) rotate(-85.77)"/>
                <circle class="cls2-8" cx="220.71" cy="83.09" r="0.19"
                        transform="translate(121.54 297.06) rotate(-85.77)"/>
                <rect class="cls2-8" x="219.89" y="86.59" width="0.6" height="0.6"
                      transform="translate(7.02 -16.02) rotate(4.23)"/>
                <rect class="cls2-8" x="215.3" y="86.39" width="4.28" height="0.6"
                      transform="translate(7 -15.82) rotate(4.23)"/>
            </g>
        </svg>
        <div>
            <h2>Soirée pizza</h2>

            <p>Pour rendre une soirée inoubliable et réussir un défi quoi de mieux qu’une pizza entre amis.
                Voilà pourquoi nous vous offrons une réduction de 20%, le vendredi et ce, si vous réservez rapidement
                avant le 01 Décembre.
            </p>

            <div class="button_inscription">
                <a href="https://www.weezevent.com/soiree-pizza">Je commande</a>
            </div>

            <p class="mdp"> Le mot de passe pour vous inscrire est une nouvelle fois "les50heures"</p>
        </div>
    </div>

    <div class="programme">
        <div class="planning">
            <h2>Au programme des 50 heures</h2>

            <p class="menu">Le 13 janvier, c'est le moment de partage au département MMi de Montbéliard.
                Actuels étudiants de MMi ou de LPW, anciens étudiants du département et les membres de
                l'équipe MMi se donnent un rendez-vous en trois temps.
            </p>

            <div class="program">
                <div>
                    <h3>Vendredi 13 janvier - 21h - Département MMi</h3>
                    <p>Le moment sera venu de découvrir l'incroyable défi version 2017. Puis, 22 heures
                        de défis à relever tous plus extraordinaire les uns que les autres nous mènerons
                        à la soirée des anciens !</p>
                </div>
                <img src="css/images-interface/defi.png" alt="defi">
            </div>

            <div class="program">
                <div>
                    <h3>Samedi 14 janvier - 21h - Fort Mont Bart</h3>
                    <p>Ce sera l'ouverture de la traditionnelle soirée des anciens. Nous vous invitons
                        à partager un verre de l’amitié tous ensemble pour une soirée mémorable.</p>

                </div>
                <img src="css/images-interface/party.png" alt="soiree">
            </div>

            <div class="program">
                <div>
                    <h3>Dimanche 15 janvier - 14h - Département MMi</h3>
                    <p>Pour terminer cet incroyable week-end nous finirons par la projection de vos
                        productions puis nous assisterons à la remise des prix.</p>
                </div>

                <img src="css/images-interface/prix.png" alt="defi">
            </div>
        </div>

        <h4>Département MMI de Montbéliard session 2016-2017</h4>

        <p class="hashtag">Réagissez avec <a href="https://twitter.com/intent/tweet?text=#50HEURES" data-size="large">
                #les50heures</a>
        </p>

    </div>

    <div class="partenaires">
        <a href="http://mmimontbeliard.com/">
            <img src="css/images-interface/partenaire/mmi.png" alt="logo_mmi">
        </a>
        <a href="http://www.iut-bm.univ-fcomte.fr/">
            <img class="iut_small_size" src="css/images-interface/partenaire/iut.png" alt="logo_iut">
        </a>
        <a href="http://www.iut-bm.univ-fcomte.fr/">
            <img class="display_none_lg" src="css/images-interface/partenaire/iut-mobile.png" alt="logo_iut">
        </a>
        <a href="http://www.univ-fcomte.fr/">
            <img class="ufc" src="css/images-interface/partenaire/ufc.png" alt="logo_ufc">
        </a>
    </div>

{% endblock %}

{% block script %}
    <script>

        var PRNG = function (exports) {
            function setSeed(seed) {
                // Create a length 624 array to store the state of the generator
                exports.MT = new Uint32Array(624);
                exports.index = 0;
                exports.MT[0] = seed;
                for (var i = 1; i < 624; i++) {
                    exports.MT[i] = ( 1812433253 * ( exports.MT[i - 1] ^ ( exports.MT[i - 1] >> 30  ) + i ) );
                }
            }

            function extractNumber() {
                if (exports.index == 0) {
                    exports.generateNumbers()
                }

                var y = exports.MT[exports.index];
                y = y ^ ( y >> 11 );
                y = y ^ ( ( y << 7 ) & 2636928640 );
                y = y ^ ( ( y << 15 ) & 4022730752 );
                y = y ^ ( y >> 18 );

                exports.index = ( exports.index + 1 ) % 624;
                return y;
            }

            function generateNumbers() {
                for (var i = 0; i < 624; i++) {
                    var y = ( exports.MT[i] & 0x80000000 ) + ( exports.MT[( i + 1 ) % 624] & 0x7fffffff );
                    exports.MT[i] = exports.MT[( i + 397 ) % 624] ^ ( y >> 1 );
                    if (y % 2 != 0) {
                        exports.MT[i] = exports.MT[i] ^ 2567483615;
                    }
                }
            }

            exports.generateNumbers = generateNumbers;
            exports.extractNumber = extractNumber;
            function random() {
                return ( exports.extractNumber() / 0x7FFFFFFF );
            }

            exports.setSeed = setSeed;
            exports.random = random;
            setSeed(0);
            return exports;
        }({});

        function squareDistance(v1, v2) {
            var dx = (v2[0] - v1[0]);
            var dy = (v2[1] - v1[1]);
            return dx * dx + dy * dy;
        }
        function norm(t, a, b) {
            return ( t - a ) / ( b - a );
        }

        //////////////////////////////////////////

        var size = 1024;
        var canvas = document.createElement('canvas');
        canvas.style.position = "absolute";
        canvas.style.top = "0";
        canvas.style.left = "0";
        canvas.width = canvas.height = size;
        ctx = canvas.getContext('2d');
        document.body.appendChild(canvas);

        var vertices;
        function update() {

            PRNG.setSeed(3);

            var r, a, v, o;
            var count = 20;
            var spawn = 40;
            var offset = 100;
            vertices = [];
            for (var i = 0; i < count; i++) {

                r = ( PRNG.random() - .5 ) * window.innerWidth / 2;
                a = (i % 2 == 0 ? 1 : -1) * Date.now() * 0.0001 + PRNG.random() * Math.PI * 2;
                v = [
                    Math.cos(a) * r,
                    Math.sin(a) * r
                ];
                vertices.unshift(v);

                for (var j = 0; j < spawn * ( .5 + PRNG.random() ); j++) {

                    r = PRNG.random() * offset;
                    a = (j % 2 == 0 ? 1 : -1) * Date.now() * 0.0002 + PRNG.random() * Math.PI * 2;
                    o = vertices[0];
                    v = [
                        o[0] + Math.cos(a % r) * r,
                        o[1] + Math.sin(a % r * 2) * r
                    ];
                    vertices.push(v);
                }
            }

            ctx.restore();
            ctx.save();

            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            ctx.globalAlpha = 1;
            ctx.fillStyle = "#15232A";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            ctx.translate(canvas.width / 2, canvas.height / 2);

            ctx.strokeStyle = "#e69f1f";
            var m = size / 8;
            for (i = 8; i <= m; i *= 2) {

                ctx.globalAlpha = (1 - i / m) * .1;
                yolo(vertices, i, size, size);

            }
            requestAnimationFrame(update);
        }


        function yolo(vertices, size, _w, _h) {

            //measures of an equalateral triangle
            var sides = 3;
            var l = 2 * Math.sin(Math.PI / sides);            //side length
            var a = l / ( 2 * Math.tan(Math.PI / sides) );    //apothem
            var h = ( 1 + a );                                  //radius + apothem

            size = size || 1;
            l *= size;
            h *= size;

            var mx = 2 * Math.ceil(_w / l);
            var my = Math.ceil(_h / h);

            var fills = [];
            ctx.beginPath();
            vertices.forEach(function (v) {

                var cell_x = Math.round(norm(v[0], 0, _w) * mx);
                var cell_y = Math.round(norm(v[1], 0, _h) * my);

                var md = Number.POSITIVE_INFINITY, d, x, y, ix, iy, ps = [];
                for (var i = cell_x - 2; i < cell_x + 2; i++) {

                    for (var j = cell_y - 2; j < cell_y + 2; j++) {

                        if (( Math.abs(i) % 2 == 1 && Math.abs(j) % 2 == 0 )
                                || ( Math.abs(i) % 2 == 0 && Math.abs(j) % 2 == 1 )) {

                            ix = ( i ) * l / 2;
                            iy = ( j ) * h;

                            d = squareDistance([ix, iy], v);
                            if (d < md) {
                                md = d;
                                x = ( i ) * l / 2;
                                y = ( j ) * h;
                                ps.unshift(x, y);
                            }
                        }
                    }
                }

                if (PRNG.random() > .5) {
                    ctx.moveTo(v[0], v[1]);
                    ctx.lineTo(ps[0], ps[1]);
                } else {
                    ctx.moveTo(ps[0], ps[1]);
                    ctx.lineTo(ps[2], ps[3]);
                    if (PRNG.random() > .95) {
                        fills.push(ps);
                    }
                }

            });
            ctx.stroke();

            ctx.beginPath();
            ctx.fillStyle = "#86c1ff";
            fills.forEach(function (ps) {
                ctx.moveTo(ps[0], ps[1]);
                ctx.lineTo(ps[2], ps[3]);
                ctx.lineTo(ps[4], ps[5]);
                ctx.lineTo(ps[0], ps[1]);
            });
            ctx.fill();
        }

        update();

    </script>

    <script>
        (function () {
            "use strict";

            var contenu = document.querySelector("#slider .contenu")
            var contenu_left = -340;

            function navigation_slider_precedent() {
                if (contenu_left < -340) {
                    console.log("click sur précédent");
                    contenu_left += 140;
                    contenu.style.left = contenu_left + "px";
                }
            }

            document.querySelector("#navigation-slider .navigation-slider-precedent")
                    .addEventListener("click", navigation_slider_precedent);

            function navigation_slider_suivant() {
                if (contenu_left > -2860) {
                    console.log("click sur suivant");
                    contenu_left -= 140;
                    contenu.style.left = contenu_left + "px";
                }
            }

            document.querySelector("#navigation-slider .navigation-slider-suivant")
                    .addEventListener("click", navigation_slider_suivant);

        }());
    </script>
{% endblock %}