{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Équipes{% endblock %}
{% block contenu %}

    <div id="header-bois" class="bandeau bandeau-bois titre_equipe">
        <div class="encheres">
            <h1 class="titre">Liste des équipes</h1>
            <span id="equipe-span" class="supperpose_titre">Liste des équipes</span>
        </div>
        <img src="css/images-interface/ligne_jaune.png" alt="ligne">
    </div>

    <div class="affiche_equipe">
        <img src="images-contenu/equipe.png" alt="membres equipes">
        <h1>Nom équipe</h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="affiche_equipe">
        <img src="images-contenu/equipe.png" alt="membres equipes">
        <h1>Nom équipe</h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="affiche_equipe">
        <img src="images-contenu/equipe.png" alt="membres equipes">
        <h1>Nom équipe</h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

{% endblock %}

{% block script %}
{% endblock %}