{% extends 'general.html.twig' %}
{% block title %}Les 50 Heures | Accueil{% endblock %}
{% block contenu %}

    <div class="cadre">
        <div class="formulaire">
            <h2>Vous avez oublier votre mot de passe ?</h2>

            <form method="post"  action="">
                <input type="text" name="pseudo" placeholder="Nouveau mot de passe*" required><br>
                <input type="text" name="pseudo" placeholder="Confirmation mot de passe*" required><br>
                <button type="submit" name="valider" data-style="shrink" data-horizontal>Valider</button>
            </form>
        </div>
    </div>

    <img class="ligne" src="css/images-interface/ligne_bleu.png" alt="element-graphique">

{% endblock %}

{% block script %} /* --- Rien --- */ {% endblock %}